

body{

	background-color: #F9F9F9;
	min-height: 55rem;
	/* padding-top: 4.5rem; */
}
a{
	text-decoration: none;
  
  }
  li{
	list-style: none;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.1px;
    font-weight: 500;
    line-height: 1;
}
p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}
/* Menu Code */


.navbg{
	background:#F5F5F5;
	border-bottom: 3px solid green;
	

}

.logo1{
	margin-left: 40px;
	
}
.logo1 img{
	width: 125px;
	height: 45px;
}

.hddownbtn {
	padding: 2px 5px;
	margin-left: 51px;
}

:before,
:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



.hd ul li a {
	position:relative;
	text-decoration: none;
	font-family:'poppins',sans-serif;
	font-size:13px;
	color: #666666;
	font-weight:500;
	letter-spacing: 0.5px;
	padding: 10px 5px;
	margin-left: 10px;

	

}

.navbar  li a:hover,
.navbar li a.active
{
color:rgb(233, 23, 23);
}

.hd ul li a:after{
	content:"";
	position:absolute;
	background: red;
	height: 2px;

	left:0px;
	bottom: -13px;
}

.hd ul li a.active:after{
	width:100%
}
.hd ul li a:hover:after{
	width:100%
}

.search i{
	font-size: 15px;
}
.hddownbtn {
	font-size: 10px;
	padding: 5px 10px;
	margin-left: 5px;
	text-align: center;

}


/* Menu Code End */





/* social Icon */
.social
{
	position: fixed;
	top:37%;
}
.social ul li {
	list-style: none;
	padding: 10px 30px;
	
	
}
.social ul li a {
	color: #666666;
}
.mobilesocial{
	display: none;
}


/*end social Code  */


/*********************Home Easy Payment System Part start****************/
.main-content{
   
    padding-left: 180px;
    padding-right:  30px;
  }
.btn-1{
   
    background-color: #009456;
    color: #FFFFFF;
  
    border-radius: 4px;
	font-family: 'Poppins',sans-serif;
    font-size: 0.8em;
    }

	.main-content .easy{
     
		font-size:3.5rem;
		text-transform: uppercase;
	  padding-top: 5px;
	  color: #FFFFFF;
	  font-weight:900;
	  font-family: 'Poppins',sans-serif;
	  -webkit-text-stroke: 1.5px #EE2D43;
	
  
	  }
  .main-content .payment{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:3.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px #009456;
		font-weight: 900;
	
	  }
   .main-content .system{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:3.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px #009456;
		font-weight: 900;
		margin-bottom: 0.5rem;
	
	  }
  .main-content p{
	font-family: 'Poppins',sans-serif;
	font-size: 14px;
	line-height: 20px;
	width: 450px;
	text-align: justify;
	color: #666666;
	margin-bottom: 0.5rem;
  }
  
 
.slides .btn{
	font-family: 'Poppins',sans-serif;
	font-size: 0.8rem;
	color: #666666;
	/* width:100px;
	height:30px; */
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
	padding-top:5px ;
	font-weight: 800;
  }
 .slides .btn.active{
  
    /* background-color: #009456; */
    color: #FFFFFF;
    
 }  

.mobile-slider{
  overflow: hidden;
  border:6px solid #3F3D56;
  border-radius: 24px;
  width:170px;
 margin-left:150px;
  /* margin: 0;
  m: 0; */
 
}

.slides{
  width: 650%;
  /* height: 500px; */
  display: flex;
  padding-right:30px ;

}

.slides input{
  display: none;
  /* margin-left: 12px; */
}

.slide-mobile{
  width: 20%;
  transition: 2s;
}

.slide-mobile img{
  height: 315px;
  width:150px;
  border-radius: 24px;
  margin: 0 0 0 -10px;
 
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;

  display: flex;
  /* justify-content: center; */
}

.manual-btn{
  /* border: 2px solid #40D3DC; */
  /* padding: 5px; */
 
  cursor: pointer;
  transition: 2s;
}

.manual-btn:not(:last-child){
  margin-right: 12px;
}

.manual-btn.active,
.manual-btn:hover{
  background-color: #009456;
  color: #FFFFFF;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: none;
  width: 800px;
  /* justify-content: center; */
  /* margin-top: 460px;
  */
 
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: red;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: red;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: red;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: red;
}
      
  /*********************Home Easy Payment System Part end****************/
      
  /*********************Home Popup start ****************/
.popup{
	background-color: red;

}
  /*********************Home Popup end****************/




/* Partners image */

h2{
	text-align:center;
	padding: 3px;
	font-family: 'poppins',sans-serif;
	color:#F0F0F0;
	font-size: 75px;
	font-weight: 900;
  }
  /* Slider */
  
  .slick-slide {
	  margin: 0px 20px;
  }
  
  .slick-slide img {
	  width: 100px;
  }
  
  .slick-slider
  {
	  position: relative;
	  display: block;
	  box-sizing: border-box;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
			  user-select: none;
	  -webkit-touch-callout: none;
	  -khtml-user-select: none;
	  -ms-touch-action: pan-y;
		  touch-action: pan-y;
	  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
	  position: relative;
	  display: block;
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
  }
  .slick-list:focus
  {
	  outline: none;
  }
  .slick-list.dragging
  {
	  cursor: pointer;
	  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
	  -webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		   -o-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
	  position: relative;
	  top: 0;
	  left: 0;
	  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
	  display: table;
	  content: '';
  }
  .slick-track:after
  {
	  clear: both;
  }
  .slick-loading .slick-track
  {
	  visibility: hidden;
  }
  
  .slick-slide
  {
	  display: none;
	  float: left;
	  height: 100%;
	  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
	  float: right;
  }
  .slick-slide img
  {
	  display: block;
  }
  .slick-slide.slick-loading img
  {
	  display: none;
  }
  .slick-slide.dragging img
  {
	  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
	  display: block;
  }
  .slick-loading .slick-slide
  {
	  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
	  display: block;
	  height: auto;
	  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
	  display: none;
  }

  /* End Partners Image */


/* Contact Us Start*/

.front_banner{
	text-align: center;
	
}
.front_banner h1{
	font-size: 80px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
}

.front_banner h5{
	font-size: 25px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 37%;
	margin-top:-100px;

}

.front_banner h5 span{
	color:green;
}

.frm{
	border: 1px solid #F0F0F0;
	margin-top: 50px;
	border-radius: 8px;
	padding: 20px 10px;
	margin-bottom: 250px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.frm h5{
	margin-top: 50px;
	margin-left:20px;
	
}
.frm form input{
	padding:30px 20px;
	border-top:none;
	border-right: none;
	border-left:none;
	border-radius: 0px;
}

.frm form textarea{
	margin-top: 20px;
	border-top:none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	height: 130px;
}

.frm .sbt{
	margin-top: 25px;
	padding: 5px 10px;
	background-color: green;
	color:white;
	margin-bottom: 10px;
}


.adr h5{
	font-size: 16px;
	margin-top:50px;
	margin-bottom:15px;
}
.adr i{
	margin-top: 55px;
	font-size: 25px;
	color: #666666;
}
.adr p{
	font-size: 14px;
	line-height: 0.5px;
}

.contact_social{
	margin-top: -40px;
	margin-left: -25px;
}
.contact_social ul li{
display: flex;
float: left;
padding-right:30px;

}
.contact_social ul li a{
	color: #666666;
	
}
.contact_social ul li a i{
	font-size: 18px;
	margin-left: -12px;
}


/* Contact Us End*/


/* Privacy Policy Start */
.privacy{
	margin-bottom: 100px;
	font-family:'poppins',sans-serif;
	color: #666666;

}

.privacy span {
	font-size:30px;
	

	

}
.privacy h3 {
	font-size:25px;

}

.privacy h4 {
	font-size:24px;

}
.privacy h5 {
	font-size:18px;

}
.privacy p{
	font-size: 14px;
}

/* Privacy Policy End */


/* Tems & ConditionEnd */
#terms{

	text-align: left;
}

#terms p{
	text-align: justify;
	font-size: 15px;
}

#terms ul li{
	list-style-type: square;
	text-align: justify;
	font-size: 15px;
}
/* Tems & Condition End */


/* Cookie Section Start */



/* Cookie Section End */

#cookie{
	margin-bottom:200px;
}

#cookie ul li{
	list-style-type: square;
	margin-top: 20px;
	margin-bottom: 20px;
}

#cookie p{
	margin-bottom: 20px;
}


/* Footer Code */



.footer {
	
	background-image: url("../img/footerimg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #F5F5F5;
	
}

.footer ul {

	margin-left: 18%;
	height: 40px;
	
}
.footer ul li {
	margin-top: 1.5%;
	padding: 8px 15px;
	list-style: none;
	float: left;
}


.footer ul li a {
	text-decoration: none;
	color:#666666;
	font-family:'poppins',sans-serif;
	font-size: 13px;

}
.footer ul li a i{
	display: none;
}

.footer ul li a:hover{
	color:red;
}

.copyright{
	display: none;
}

/* End Footer Code */

/* ========================================================== Mobile Responsive ===================================================================== */


/* Mobile Device Responsive */


@media only screen and (max-width: 600px) {
	body {
	  background: white;
	}

	

	.logo1 {
	margin-left: 0px;
		
	}

	.logo1 img{
		width: 80px;
		height: 30px;
	}

	.search i{
		font-size: 13px;
	}
	.hddownbtn {
		font-size: 10px;
		padding: 2px 5px;
		margin-left: 5px;
		text-align: center;
	
	}
	
	.navbar-toggler{
		background-image: url('../img/toggleicon.png');
		background-repeat: no-repeat;
		background-position:center;
	
  }
  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

  

  .hd ul  {
	margin-top: 20px; 
  }

  .hd ul li {
	  border-bottom: 1px solid green;
  }

  .hd ul li a:after{
	content:"";
	position:absolute;
	background: red;
	height: 0px;

	left:0px;
	bottom: -11px;
  }



 /* Social Icons Start*/

 .social
 {
	display: none;
 }


 /* Social Icons End */



/* Sample page front Banner*/

.front_banner{
	text-align: center;
	
}
.front_banner h1{
	font-size: 40px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
}

.front_banner h5{
	font-size: 18px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 28%;
	margin-top:-80px;

}

.front_banner h5 span{
	color:green;
}




 /* Mobile Footer Section start*/
 .footer ul {

	
	height: max-content;
	margin-top: 10px;
	margin-left: 5%;
 }

 .footer ul li {
	margin-top: 5px;
	padding: 2px 15px;
	list-style: none;
	float: left;
 }


 .footer ul li a {

	text-decoration: none;
	color:#666666;
	font-family:'poppins',sans-serif;
	font-size: 12px;
	letter-spacing: 0.8px;


 }

 
 .footer ul li a i{
	display: inline;
 }


 /* Mobile Footer Section End*/
 .mobilesocial{
	display: inline;
	

 }

 .mobilesocial ul{
	border-top:1px solid green
 }
 .mobilesocial ul li  {
	position: relative;
	left: 15%;
	margin-bottom: 6px;
	margin-top: 10px;
 }

 .copyright{
	display: block;
 }

 .copyright p{
	font-size: 10px;
	text-align: center;
 }

 }

 .privacy{
	padding: 10px 30px;
	margin-bottom: 200px;
	font-family:'poppins',sans-serif;
	color: #666666;

}

#terms{
	margin-bottom: 300px;
	padding: 0px 20px;
	font-size: 13px;
	text-align: left;
}

#terms p{
	text-align: justify;
}

#terms ul li{
	list-style-type: square;
	text-align: justify;
}

#cookie{
	margin-bottom:200px;
	padding: 0px 20px;
}



.scl{
	display: hidden;
}


/* ======================================================== Large Device ================================================================== */

@media screen and (min-width: 1900px) {
	.front_banner h1{
		font-size: 80px;
	}
	
	.front_banner h5{
		font-size: 25px;
		font-weight: 900;
		color: #F0F0F0;
		padding: 20px 10px;
		position: absolute;
		color: black;
		margin-left: 28%;
		margin-top:-100px;
	}

	.logo1{
		margin-left: 40px;
		
	}
	.logo1 img{
		width: 141px;
		height: 51px;
	}

	.hd ul li a:after{
		content:"";
		position:absolute;
		background: red;
		height: 2px;
	
		left:0px;
		bottom: -16px;
	}
  }

