
/* ******************************
:: 1.0 WEB FONTS
****************************** */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,900&display=swap');


:root{
	--red: #EE2D43;
	--green: #006B4F;
	
}


body{
	background: white;
	min-height: 60rem;
	background-image: url(../img/bgbl8.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: contain;
	/* background-image: url(../img/Border_background.svg);
	background-position:  top corner ; 
	background-repeat: no-repeat; */
	
	/* padding-top: 4.5rem; */
}


.pagehead{

	width: 100%;
	height: 100px;
	background: var(--green);
	color:white;
	font-family:'poppins',sans-serif;

}

.singlepagehead{

	width: 100%;
	height: 50px;
	background: var(--green);
	color:white;
	font-family:'poppins',sans-serif;

}
.pagehead p{
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
}
.pagehead h3{
	text-align: center;
	padding-top: 30px;
}

.modalp{
	margin: 0px auto;
	position: absolute;
	top:50%
}
a{
	text-decoration: none;
	color:#000;
  
  }
  li{
	list-style: none;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.1px;
    font-weight: 500;
    line-height: 1;

}
p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}
/* Menu Code */


.navbg{
	background:#F5F5F5;
	border-bottom: 3px solid var(--green);
	/*  */
	

}

.nav-item{
	text-transform: uppercase;
}
.logo1{
	margin-left: 40px;
	
}
.logo1 img{
	width: 125px;
	height: 45px;
}

.hddownbtn {
	padding: 2px 5px;
	margin-left: 51px;
}

:before,
:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.hd ul li a {
	position:relative;
	text-decoration: none;
	font-family:'poppins',sans-serif;
	font-size:13px;
	color: #666666;
	font-weight:500;
	letter-spacing: 0.5px;
	padding: 10px 5px;
	margin-left: 10px;

	

}
.appmodal{
	margin-top: 62px;
	margin-left: 60%;
	width:400px;
	z-index: 999999999;
}

.appdwn{
	border-radius: 10px;
}
.dwnappmodal{
	font-family: 'poppins',sans-serif;
	
}
.dwnappmodal h4{
color: black;
text-align: center;
font-size:18px;
font-weight:600;
line-height: 20px;
margin-bottom: 10px;
}

.dwnappmodal p{
	font-weight: 600;
}

.dwnbutton{
	
	padding: 7px 15px;
	border-radius: 8px;
	background: var(--green);
	color: #F0F0F0;
}
.dwnbutton:hover{
	color:#F0F0F0;
}


.dwnclose{
	margin-left: 25px;
	font-size: 12px;
}
.appsectionimg {
	transform: rotate(-180deg);
	margin-top: -30px;
	margin-left:-4px;
}

.dwnfooter{
	width: 370px;
	margin-top: 10px;
	margin-bottom: -7px;
}

.appborder{
	
	border-radius: 10px;
}

.playstore{
	margin-top: 30px;

}

.playstore img{
	margin-top:-15px;
}
.Appstore{
	margin-top: 30px;
	margin-bottom: 20px;
}

.Appstore img {
	margin-top: -15px;
}

.Appsection h4{
	font-size: 24px;
	text-align: center;
	font-family: 'poppins',sans-serif;
	margin-top: -4px;
	margin-left:-20px;
	font-weight: 900;
	color: #666666;
	opacity: 0.55;
	text-transform: uppercase;

}

.epstext{
	margin-left: -22px;
	

}

.dwnmodalhead{
	border-bottom:2px solid var(--green) ;

}

.Appsection .eps{
	font-size: 32px;
	font-weight: 900;
	margin-left:35px;
	margin-top: -20px;
	margin-right: -5px;


}
.Appsection i{
	font-size: 30px;

}

#searchdiv{
	display: none;
}
.searchbox{
	width: 100%;
	height: 200px;
	background: var(--green);
	margin-bottom: 20px;

}

.srcimg{
	margin-top: 10px;
}

.srcimg img {
	width:100px;
}

.searchform{
	margin-top: 20px;
	padding: 20px;
}

.navbar  li a:hover,
.navbar li a.active
{
color:var(--red);
}

.navbar ul li{
	margin-top: 5px;
}

.hd ul li a:after{
	content:"";
	position:absolute;
	background: var(--red);
	height: 2px;

	left:0px;
	bottom: -17px;
}

.hd ul li a.active:after{
	width:100%
}
.hd ul li a:hover:after{
	width:100%
}

.search i{
	font-size: 15px;
}
.hddownbtn {
	font-size: 10px;
	padding: 5px 10px;
	margin-left: 5px;
	text-align: center;

}
.offeritem{
	margin-bottom: 8px;

}

.offeritem i{
	color:var(--green);
	font-size:24px;
	font-weight: 900;
	margin-top: -20px;
}

.offeritem span{
	color:var(--green);
	font-weight: 900;



}

/* Social Icon start */
.social
{
	position: fixed;
	top:37%;
}
.social ul li {
	list-style: none;
	padding: 10px 30px;
	
	
}
.social ul li a {
	color: #666666;
}

.mobilesocial{
	display: none;
}

/*end social Code  */



.subcription{
	z-index: 2000;
	position: fixed;
	right: -80px;
	top:45%;
}

.subcription span{
	position: absolute;
	right:125px;

	
}

.subcription span a i{
	color:7C7C7C;
	font-weight: 900;
	
	
}

.subform{
	width: 303px;
	height: 437px;
	background: #FFFFFF;
	filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.3));
}

.subform img{
	text-align: center;
	margin-left: 25px;
}
/*********************Home Main content Part start****************/

/*********************Home Easy Payment System Part start****************/
.main-content{
   
    padding-left: 250px;

  }
.btn-1{
   
    background-color: var(--green);
    color: #FFFFFF;
    border-radius: 4px;
	font-family: 'Poppins',sans-serif;
    font-size: 0.8em;
    }
.btn-1:hover{
   
    background-color:  var(--green);
    color: #FFFFFF;
    border-radius: 4px;
	font-family: 'Poppins',sans-serif;
    font-size: 0.8em;
    }

	.main-content .easy{
     
		font-size:4.5rem;
		text-transform: uppercase;
	  padding-top: 5px;
	  color: #FFFFFF;
	  font-weight:900;
	  font-family: 'Poppins',sans-serif;
	  -webkit-text-stroke: 1.5px var(--red);
	
	  margin-top: 10px;
	  }
  .main-content .payment{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:4.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px  var(--green);
		font-weight: 900;
	
	  }
   .main-content .system{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:4.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px  var(--green);
		font-weight: 900;
		margin-bottom: 0.8rem;
	
	  }
  .main-content p{
	font-family: 'Poppins',sans-serif;
	font-size: 14px;
	line-height: 20px;
	width: 450px;
	text-align: justify;
	color: #666666;

  }
  /**Read More****/
  .main-content .readmore{
	/* font-family: 'Poppins',sans-serif; */
	/* font-size: 14px; */
	color: #666666;
  }
  
  .partnertitle {
	  font-size:60px;
	  margin-bottom: -30px;
  }

  


/*********************End Home Easy Payment System Part ****************/

/********************* Home Hover button Part start****************/


.mobile-slider{
	height: 400px;
	width:198px;
  overflow: hidden;
  border:6px solid #3F3D56;
  border-radius: 24px;

 margin-left:px;

  /* margin: 0;
  m: 0; */
 
}

.slider-main {
	width: 650%;
	max-width: 750px;
	position: relative;
	margin-left: 70px;
  }

.slider ol {

	position: absolute;
	  /* padding-top: 10px */
	  transform: translate(280px, -15px);
	}
	.slider-main ol li {
	  display: inline-block;
	  margin-right: 5px;
	
	
	}
	.slider-p  li {
	  display: inline-block;
	  margin-right: 5px;
	
	
	}
	.slider-main ol .fa {
	
	  margin-right: 8px;
		  cursor: pointer;
		  transition: 1s;
	 color: var(--red);
		  border-radius: 2px;
		font-size: 12px;
	
	}
	.slider-main ol .fa:hover {
	
	
		  transition: 1s;
	 color: white;
	
	}

	/* .slider-p .fa {
	
	  margin-right: 8px;
		  cursor: pointer;
		  transition: 1s;
	 
		  border-radius: 2px;
		font-size: 12px;
	
	} */
	/* .slider-main ol li.fa :hover{
	  font-size: 20px;
	  color: green;
	  cursor: pointer;
	  font-weight: normall;
	}
	 */
	.auto-btn{

		font-family: 'Poppins',sans-serif;
		  font-size: 0.8rem;
		  color: #666666;
		width:112px;
		  background-color: #FFFFFF;
		  border-radius: 8px;
		  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
		  padding-top:8px ;
		  font-weight: 600;
	  }
	  
	  
	  .auto-btn a{
		  padding: 5px;
		  border-radius: 10px;
	  align-items: center;
	  
	  }
	  
	.slider-main ol li .auto-btn:hover,
	.slider-main ol li.active .auto-btn
	 {
	  color: white;
		background-color: var(--green);
	
	
	}
	.slider-main ol li.active .fa{
		color: white;
	}
  /*********************End Home Hover button Part ****************/
  
   /********************* Home Main Slider Part Start ****************/

  .slider-main ul, .slider-main ul li {
	width: 600%;
  
	height: 100%
  }
  
  .slider-main ul {
	position: absolute;
	overflow: hidden;
	border-radius: 15px;
	margin-left: -450px;
  
	width: 500px;
	height: 500px;
  
  }
  .slider-main ul li {
	position: absolute;
	left: -200%;

	width: 500px;
  
  }
  

  .slider-main ul li:first-of-type {
	background-image: url("../img/slider/Demo1.png");
	height: 400px;
	  width:198px;
	  margin: 0 0 0 283px;
  }
  
  .slider-main ul li:nth-of-type(2) {
	/* background-image: url("http://favim.com/orig/201107/19/cute-flowers-girl-pink-pretty-Favim.com-110225.jpg") */
	height: 400px;
	  width:198px;
	  margin: 0 0 0 283px;
  background-image: url("../img/slider/Demo2.png");
  }
  
  
  .slider-main ul li:nth-of-type(3) {
	  height: 400px;
	  width:198px;
	  margin: 0 0 0 283px;
  background-image: url("../img/slider/Demo3.png");
  }
  
  
  
  .slider-main ul li:last-of-type {
	  height: 424px;
	  width:198px;
	  margin: 0 0 0 283px;
	background-image: url("../img/slider/Demo4.png");
  }
  
  .slider-main .controll:first-of-type {
	transform: rotate(45deg);
	left: 20px
  }
  
  .slider-main .controll:last-of-type {
	transform: rotate(225deg);
	right: 20px
  }
  

  /********************* Home Main Slider Part End *********************************************/
  

  /********************* Top-popup Slider Part Start **********************/
.slider-popup-top{
	 width: 650%;
max-width: 750px;

position: absolute; 

}
	.slider-popup-top {
		margin-left: 490px;
	}
  .slider-popup-top ul {

	width: 424px;
	height: 80px;

	position: absolute;
	overflow: hidden;
margin-left: 188px;

	  margin-top: -325px; 
	

  }
  .slider-popup-top ul li  {
	position: absolute;
	background-color: white; 
	left: -200%;
	background-repeat: no-repeat;
	margin-left: 15px;
	border-radius:8px;

  }
 .sendmoney{
	width: 250px;
	height: 70px;
	
  }

 .sendmoney img{
		padding-top: 10px;
	padding-left: 15px;
	
  }
 .billpay{
	width: 250px;
	height: 70px;
  }
 .corporate{
	width: 250px;
	height: 70px;
  }
 .marchent{
	width: 250px;
	height: 70px;
  }
  .slider-popup-top .billpay img{
		padding-top: 10px;
	padding-left: 15px;
	width: 250px;
	height: 70px;

  }
  .slider-popup-top .corporate{
	width: 250px;
	height: 70px;
	
  }

  .slider-popup-top .corporate img{
		padding-top: 10px;
	padding-left: 15px;
	
  }

.slider-popup-top .marchent img{
padding-top: 10px;
padding-left: 15px;
width: 250px;
height: 70px;
}
   .slider-popup-top ul li:first-of-type {
	
	
	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;

/* margin-left: 10px; */

	
	
  } 
  .slider-popup-top ul li:nth-of-type(2) {




	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;

	/* margin-left: 15px;  */
  }
  .slider-popup-top ul li:nth-of-type(3) {
	/* background-image: url("../img/slider/sendmony.png"); */

	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;

  }
  
  .slider-popup-top ul li:last-of-type {

	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;

  } 

  .slider-main .top-controll:first-of-type {
	transform: rotate(45deg);
	left: 20px
  }
  .slider-main .top-controll:last-of-type {
	transform: rotate(225deg);
	right: 20px
  }

  .slider-main ol {
	text-align: center;
	padding-top: 10px
  }
  .slider-main ol li {
	display: inline-block;
	margin-right: 5px;
  }
  

  /********************* Top-popup  Slider Part End **********************/

  /********************* Bottom-popup  Slider Part Start **********************/
  .slider-popup-bottom {
    width: 650%;
/* max-width: 750px; */
/* width: 200px; */

position: absolute; 
}
  /* .slider-popup-bottom ul{
	width: 100%;
	height: 30%;
	position: absolute;
	overflow: hidden;
	border-radius: 15px;
	margin-left: 1255px;
	  margin-top: -151px;
	width: 424px;
	height: 80px;
} */
 /* .slider-popup-bottom ul li {
  width: 100%;
  height: 30%;
} */
/* .slider-popup-bottom ul {
  position: relative;
  overflow: hidden;
  border-radius: 15px
}
.slider-popup-bottom ul li {
  position: absolute;
  top: 0;
 
  background-size: cover; 
  background-position: center;
  color: #fff;
  font-family: serif;
} */

.slider-popup-bottom ul {
  position: absolute;
	overflow: hidden;

	margin-left: 908px;
	margin-top: -151px;


	width: 424px;
	height: 80px;



}

.slider-popup-bottom ul li {
  position: absolute;
  border-radius: 15px;

  position: absolute;
  background-color: white; 
  left: -200%;
  background-repeat: no-repeat;
  margin-left: 10px;
  border-radius:8px;


}

.slider-popup-bottom ul li:first-of-type {

	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;
  
}
.slider-popup-bottom ul li:nth-of-type(2) {

	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;
}
.slider-popup-bottom ul li:nth-of-type(3) {
  
	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;
}
/* .slider ul li:nth-of-type(4) {
  background-image: url("https://37.media.tumblr.com/tumblr_lxkb5dtDuF1r5o9ano1_500.jpg");
} */
.slider-popup-bottom ul li:last-of-type {
  
	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;animation: shakeX 50s infinite;
}

/* .slider-p .bottom-controll:first-of-type {
  transform: rotate(45deg);
  left: 20px
}
.slider-p .bottom-controll:last-of-type {
  transform: rotate(225deg);
  right: 20px
} */

/* .slider-popup-bottom ol {
  text-align: center;
  padding-top: 10px
}
.slider-popup-bottom ol li {
  display: inline-block;
  margin-right: 5px;
}
 */
 .slider-p li {
	text-align: center;
	padding-top: 10px
  }
  .slider-p li {
	display: inline-block;
	margin-right: 5px;
  }
  

  /********************* Bottom-popup  Slider Part End **********************/
  
 
  

 /*********************Main content End********************/

		

  /*********************Home Popup start ****************/
 



  .popup{
	background-color: #FFFFFF;
	
	border: 3px solid var(--green);
	border-radius: 12px;
	box-shadow: 0 4px 10px 0 rgba(0.19, 0.19, 0.19, 0.19);

	width: 780px;
	margin-left: 290px;
	position: absolute;
	display: none;
	z-index: 1000;
	height: 120px;

}
#popup{
	margin-top: 6%;
	z-index: 9999;
}
.popup p{
 
    /* padding: 0px 5px; */
	margin-left: 20px;
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 16px;
    width: 527px;
    font-weight: 500;
    text-align: justify;
	
	padding-top: 24px;


}
.popup #close{
	display: block;
	/* margin: 0 0 20px auto; */
	float: right;
    color: #000000;
	cursor: pointer;
	font-size: 20px;
	outline: none;
	border: none;
	padding-right: 5px;
}
.popup .cookie-link{
	color: var(--red);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.popup .button{
	float: right;
	margin-right: 20px;
margin-top: -55px;
}
.popup .button .accept{
	background-color:  var(--green);

	margin-right: 5px;
	width: 90px;
	height: 38px;
	border-radius: 8px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 8px;
}
.popup .button .deny{
	background-color: var(--red);

	width: 90px;
	height: 38px;
	border-radius: 8px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 8px;
}
  /*********************Home Popup end****************/



/* Partners image */
#partner{

	position: relative;

}
.partner{
padding-right: 330px;
	margin-left: 160px;
	
}


.partnertitle{
	margin-top: 30px; 
	text-align:center;
	padding:5px 5px;
	font-family: 'poppins',sans-serif;
	color:#F0F0F0;
	font-size: 60px;
	font-weight: 900;
  }
  /* Slider */
  
  
  .slick-slide {
	  margin: 0px 20px;
  }
  
  .slick-slide img {
	  width: 100px;
  }
  
  .slick-slider
  {
	  position: relative;
	  display: block;
	  box-sizing: border-box;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
			  user-select: none;
	  -webkit-touch-callout: none;
	  -khtml-user-select: none;
	  -ms-touch-action: pan-y;
		  touch-action: pan-y;
	  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
	  position: relative;
	  display: block;
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
  }
  .slick-list:focus
  {
	  outline: none;
  }
  .slick-list.dragging
  {
	  cursor: pointer;
	  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
	  -webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		   -o-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
	  position: relative;
	  top: 0;
	  left: 0;
	  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
	  display: table;
	  content: '';
  }
  .slick-track:after
  {
	  clear: both;
  }
  .slick-loading .slick-track
  {
	  visibility: hidden;
  }
  
  .slick-slide
  {
	  display: none;
	  float: left;
	  height: 100%;
	  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
	  float: right;
  }
  .slick-slide img
  {
	  display: block;
  }
  .slick-slide.slick-loading img
  {
	  display: none;
  }
  .slick-slide.dragging img
  {
	  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
	  display: block;
  }
  .slick-loading .slick-slide
  {
	  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
	  display: block;
	  height: auto;
	  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
	  display: none;
  }

  /* End Partners Image */


/* Contact Us Start*/

.front_banner{
	text-align: center;
	
	
}


.front_banner h1{

	font-size: 80px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	font-family: 'poppins',sans-serif;


}

.front_banner h5{
	font-size: 25px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	color: black;
	margin-top:-90px;
	font-family: 'poppins',sans-serif;

}


.front_banner h5 span{
	color:var(--green);

}

.front_banner p{
	margin-top:-8px;
	margin-bottom: 20px;
	font-weight: 400;
	font-family: 'poppins',sans-serif;

}
/* FAQ BANNER START*/

.faq_banner{
	text-align: center;
	
}
.faq_banner h1{
	font-size: 80px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
	font-family: 'poppins',sans-serif;
}

.faq_banner h5{
	font-size: 25px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 30%;
	margin-top:-90px;
	font-family: 'poppins',sans-serif;

}

.faq_banner h5 span{
	color:var(--green);
}
.faq_banner p{
	margin-top: -35px;
	
}

.faqsearch{
	background: var(--green);
	margin-top: 30px;

}

.faqsearch form{
	margin-top: 18px;
	width: 70%;
	margin-left: 16%;
	padding: 20px 0px;
}
#faq-links{
	margin-top:110px;
   }
   #faq-links div {
   
	   color: #666666;
	   cursor: pointer;
	   font-weight: 600;
	   text-transform: capitalize;
	   margin: 18px 0;
	   border-bottom:1px solid green;
	   padding-bottom:5px ;
	   padding-left: 10px;
	   
   
	   
   }
   
   .faq-group {
	   padding: 0 20px 40px 20px;
	   position: relative;
   }
   
   .faq-group div {
	   font-weight: 900;
	  margin-left: 75px;
	  text-transform: uppercase;
	  Font-size:24px;
	  margin-top: 32px;
	  font-family: 'poppins',sans-serif;
   }
   
   .faq-group hr {
	 
	   -moz-box-sizing: content-box;
	   -webkit-box-sizing: content-box;
			   box-sizing: content-box;
	   height: 0;
	   margin-top: 32px;
	   
   }
   
   .faq-group:after {
	   top: 37%;
		left: 28%;
	   border: solid transparent;
	   content: " ";
	   height: 0;
	   width: 0;
	   position: absolute;
	   pointer-events: none;
	   border-top-color: green;
	   border-width: 15px;

   }

   .faq-accordion{
	margin-left:-25px;
   }
   
   .faq-accordion>li  {
	   border-top: 1px solid rgba(198, 198, 198, 0.4);
	   color: #666;
	   padding: 1.125em 0;
	   font-family: 'poppins',sans-serif;
   }
   
   .faq-accordion li a {
	   color: #666;
	 
   }
   
   .faq-accordion > li:last-child {
	   border-bottom: 1px solid rgba(198, 198, 198, 0.4);
   }
   
   .faq-accordion > li > a:before {
	   content: 'Q.';
	   padding-right: 0.313em
   }
   
   .faq-accordion > li > a:after {
	   color: #ff8300;
	   content: '+';
	   float: right;
	   font-weight:300;
	   margin-right: 1.25em;
	   -webkit-transform: scale(2);
	   -ms-transform: scale(2);
			   transform: scale(2);
	   overflow-y: hidden;
   }
   
   .faq-accordion > li > a.expanded:after {
	   color:  #ffa326;
	   content: '\2212';
	   -webkit-transform: scale(2);
	   -ms-transform: scale(2);
			   transform: scale(2);
   }
   
   .faq-accordion > li > a.expanded {font-weight: 700; opacity: 1 !important}
   
   .faq-content {
	   background-color: #ececec;
	   margin: 20px 0 -20px;
   }
   
   .faq-content p:before {
	   content: 'A.';
	   color: #ff8300;
	   float: left;
	   font-weight: 700;
	 margin-right: .5em
   }
   
   .faq-content p {
	   margin: 0 1.2em;
	   padding: 1.250em 0
   
   }
   
   .faq-hide {display: none}
   
   .faq-selected {
	   color: #49494b!important;
	-webkit-transition: all 1s ease;
			transition: all 1s ease;
   }
   
   
   .faq .slide-left{
   
	   -webkit-animation-name: slide-left;	
	 -moz-animation-name: slide-left;	
		 animation-name: slide-left;
   
	   
	   -webkit-animation-duration: 1s;
	 -moz-animation-duration: 1s;
	 animation-duration: 1s;	
   
		   
	   -webkit-animation-timing-function: ease-in-out;	
	 -moz-animation-timing-function: ease-in-out;
	 animation-timing-function: ease-in-out;
   
   }
   
   
   
   @-webkit-keyframes slide-left {
	   0% {
		   -webkit-transform: translateX(150%);
	   }
	   50%{
		   -webkit-transform: translateX(-8%);
	   }
	   65%{
		   -webkit-transform: translateX(4%);
	   }
	   80%{
		   -webkit-transform: translateX(-4%);
	   }
	   95%{
		   -webkit-transform: translateX(2%);
	   }			
	   100% {
		   -webkit-transform: translateX(0%);
	   }
   }
   
   @-moz-keyframes slide-left {
	   0% {
		   -webkit-transform: translateX(150%);
	   -moz-transform: translateX(150%);
				   transform: translateX(150%);
	   }
	   50%{
		   -webkit-transform: translateX(-8%);
	   -moz-transform: translateX(-8%);
				   transform: translateX(-8%);
	   }
	   65%{
		   -webkit-transform: translateX(4%);
	   -moz-transform: translateX(4%);
				   transform: translateX(4%);
	   }
	   80%{
		   -webkit-transform: translateX(-4%);
	   -moz-transform: translateX(-4%);
				   transform: translateX(-4%);
	   }
	   95%{
		   -webkit-transform: translateX(2%);
	   -moz-transform: translateX(2%);
				   transform: translateX(2%);
	   }			
	   100% {
		   -webkit-transform: translateX(0%);
	   -moz-transform: translateX(0%);
				   transform: translateX(0%);
	   }
   }
   @keyframes slide-left {
	   0% {
		   -webkit-transform: translateX(150%);
	   -moz-transform: translateX(150%);
				   transform: translateX(150%);
	   }
	   50%{
		   -webkit-transform: translateX(-8%);
	   -moz-transform: translateX(-8%);
				   transform: translateX(-8%);
	   }
	   65%{
		   -webkit-transform: translateX(4%);
	   -moz-transform: translateX(4%);
				   transform: translateX(4%);
	   }
	   80%{
		   -webkit-transform: translateX(-4%);
	   -moz-transform: translateX(-4%);
				   transform: translateX(-4%);
	   }
	   95%{
		   -webkit-transform: translateX(2%);
	   -moz-transform: translateX(2%);
				   transform: translateX(2%);
	   }			
	   100% {
		   -webkit-transform: translateX(0%);
	   -moz-transform: translateX(0%);
				   transform: translateX(0%);
	   }
   }

   .faqquery {
	   margin-top: 50px;
	   font-family: 'poppins',sans-serif;
	   margin-bottom: 100px;

   }

   .faqquery h3{
	   size:35px;
	   line-height: 83px;
	   text-align: center;
   }

   .faqquery p{

	   font-size: 18px;
	   line-height: 26px;
	   text-align: center;
   }

   .faqquery a {
	   color:var(--green);
	   font-weight: 600;
	   text-decoration: underline;
	 
	   
   }
/* FAQ BANNER END*/


/*Service Single Start*/



.service-single h1{
	font-size: 80px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
	font-family: 'poppins',sans-serif;
	text-align: center;
}

.service-single h5{
	font-size: 25px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 38%;
	margin-top:-90px;
	font-family: 'poppins',sans-serif;

}

.service-single p{
	
	text-align: center;
	margin-top: -25px;
	
}
.service-single h5 span{
	color:var(--green);
}

.boxstyle{
	width: 950px;
	height: 40px;
	background: var(--green);
	margin-left: 16%;

	
}
.service-single{
	margin-bottom: 50px;
	font-family:'poppins',sans-serif;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
	background: white;
}

.service-single img{
	margin-top: 40px;
	margin-bottom: 50px;
}

.service-single h6{
	margin-top: 150px;
}

.service-single h3{
	width: 400px;
	font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
color: var(--green);
margin-bottom: 50px;
}

.service-single a{
padding: 12px 30px;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
border-radius: 8px;
}

.single_page_details{
	margin-top: 50px;
	margin-bottom: 20px;
}
 

.single_page_details h3{
	text-align: center;
	margin-bottom: 60px;
}

.sevdet p{
	margin-top: 100px;
}

.smdt {
	margin-top: 100px;
	text-align: center;font-family: 'poppins',sans-serif;
}

.ServiceFaq{
	margin-top: 50px;
	margin-bottom: -20px;

}

.ServiceFaq h2{
	text-align:center;
	font-size: 30px;
	font-weight: 900;
	color: #666666;
}

/*Service Single End*/
.frm{
	border: 1px solid #F0F0F0;
	margin-top: 50px;
	border-radius: 8px;
	padding: 20px 10px;
	margin-bottom: 250px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: white;
	font-family: 'poppins',sans-serif;
}
.frm h5{
	margin-top: 50px;
	margin-left:20px;
	margin-top: 5px;
	
}
.frm form input{
	padding:30px 10px;
	border-top:none;
	border-right: none;
	border-left:none;
	border-radius: 0px;
	margin-top: 10px;
}

.frm form textarea{
	margin-top: 20px;
	border-top:none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	height: 130px;
}

.frm .sbt{
	margin-top: 25px;
	padding: 5px 10px;
	background-color: var(--green);
	color:white;
	margin-bottom: 10px;
}


.adr h5{
	font-size: 16px;
	margin-top:60px;
	margin-bottom:15px;
	font-family: 'poppins',sans-serif;
}
.adr i{
	margin-top: 55px;
	font-size: 25px;
	color: #666666;
}
.adr p{
	font-size: 14px;
	font-family: 'poppins',sans-serif;

}

.adr .row{
	margin-bottom: -15px;
}

.contact_social{
	margin-top: -40px;
	margin-left: -20px;
}
.contact_social ul li{
display: flex;
float: left;
padding-right:30px;

}.mscl{
	display: inline;
}
.contact_social ul li a{
	color: #666666;
	
}
.contact_social ul li a i{
	font-size: 18px;
	margin-left: -12px;
}

.mfrm h5{
	margin-left: 10px;
}



/* Contact Us End*/


/* ABout Us page start*/
.details{
	margin-top:3%;;


}

.details span{
	font-size: 22px;
	font-weight: 900;
	font-family: 'poppins',sans-serif;
	color:#666666;
	line-height: 24.64px;
	margin-left: 10px;
}
.details h3{
font-size: 72px;
font-family:'poppins',sans-serif;
font-weight: 900;
color:#666666;
}

.details p {
	margin-top: 15px;
	text-align: justify;
	font-size: 14px;
	font-family: 'poppins',sans-serif;
	color:#666666;
}
.details ul{
	position: relative;
}

.details ul li span{
	font-size: 30px;
	color:#666666;
	position: absolute;
	margin-top: 3px;
	margin-left: 30PX;
	font-weight: 900;
	font-family: 'poppins',sans-serif;
	
}

#team_head{
	margin-top: 100px;

	
}
/* ABout Us page End*/



#gallery img{
	width: 310px;
	height: auto;
	box-sizing: border-box;
	border: 1px solid rgba(0.19, 0.19, 0.19, 0.19);
	border-radius: 5px;
	position: relative;
}

#gallery .dtl {

	width: 250px;
	position: absolute;
	margin-top: -20px;
	margin-left: 2%;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	padding-top: 5px;
	
}

#gallery .tag h4{
	display: block;
	transform: rotate(-90deg); width:300px; margin-left: -20px; margin-top: 120px;
}

#gallery .sigdiv{
	margin-top: 80px;

}

#gallery .dtl h5{
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: -5px;
}
#gallery .dtl p{
	font-size: 12px;
	margin-bottom: 8px;
	
}

#gallery .teambtn a{
	margin-top: 7%;
	width:120px;
	margin-left: 50%;

}
#official_logo{
	margin-top: 50px;


}



.epsmainlogo  {
	width: 700px;
	height: 400px;
	margin-left: 100px;
	z-index:500;
	background-image:url(../img/logo-png.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center ;

	
	
}



.epsmainlogo:hover  {
	background: rgba(0, 0, 0, 0.25);
	background-image:url(../img/logo-overlay.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center ;
	

} 

/*EPS LOGO HOVER EFFECT*/



#achivement{
	margin-bottom: 150px;
	
}

/* Modal View*/
.mbody
{

	border: 1px solid black;
	margin: 20px;
	background-image: url(../img/Vector\ 19.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	

	
}

.mbody button{
	width:10px;
	margin-left: 30px;
}

.mbody h4{
	font-size: 24px;
	font-weight: 900;
	margin-top: 100px;
	margin-left: 12%;
}

.mbody p{
	font-family: 'poppins',sans-serif;
	font-size: 16px;
	color: #666666;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom:50px;
	line-height: 34px;
	


	
}
.mbody a {
	background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
border-radius: 8px;
margin-left: 20%;
}

.mbody span{
	font-size: 14px;
	margin-left: 35%;
	
/* END Modal*/
	
}
.mmg{

	width: 232px;
	height:232px;
	border-radius: 50%;
	margin-top: 70px;
	margin-left: 30px;

}

.qr  {
	width: 118px;
	height: 116px;
	margin-top: 100px;
	margin-left: 100px;
	margin-bottom: 100px;

}

/*Details single view*/
.sin_img{
	
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.sin_des{
	
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 150px;
}
.single_img{
	width: 232px;
	height:232px;
	border-radius: 50%;
	margin-top: 40px;
	margin-left: 32%;
}


.sing_text{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
	font-family: 'poppins',sans-serif;
}

.full_des{
	padding: 20px 20px 0px 20px;
	font-family:spartan;
	font-size: 16px;
	line-height: 34px;
	font-family: 'poppins',sans-serif;

}


/*Details single view End*/

/*
*** Career Section Code Start
*/

.career-head h1{
	font-size: 80px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;

	font-family: 'poppins',sans-serif;
	text-align: center;
}

.career-head h5{
	font-size: 25px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;

	color: black;
	text-align: center;
	margin-top:-90px;
	font-family: 'poppins',sans-serif;

}

.career-head h5 span{
	color:var(--green);
}
.career-head p{
	margin-top: -7px;
	text-align: center;
	
}
.career{

	padding: 40px 0px 30px 0px;

}

.srcbtn{
	background:var(--green);
	border: none;
	border-radius: 0px;
}

.srcbtn i {
	font-size: 20px;
	margin-top: 8px;
	color:white;
	
	
}

.career_cat{

	padding: 20px  10px;
	font-family: 'poppins',sans-serif;
	margin-bottom: 100px;
	margin-top:20px ;
	
}

.career_cat .jobblock{
	margin-top: 0px;
}

.career_cat ul{
	margin-top: 20px;
}
.career_cat ul li{
	margin-left: -25px;
	padding: 10px 0px;
	border-bottom: 1px solid black;
}

.career_cat ul li a {
	margin-top: 10px;
	
}

.career_cat ul li a i {
	font-size: 20px;
	
}


.jobpost{
background: #FFFFFF;
margin: 10px;
padding: 20px 30px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
border-radius: 8px;
font-family: 'poppins',sans-serif;

}

.jobpost p{
font-weight: 400;
font-size: 16px;
line-height: 28px;
color:var(--green);
}

.jobpost h3{
font-weight: 700;
font-size: 26px;
line-height: 34px;
}
.jobpost h6{
font-weight: 400;
font-size: 12px;
line-height: 28px;
}
.jobpost  span{
	margin-right: 100px;
	
}

.jobpost a{
	margin: 30px 0px 20px 0px;

}

.jdate{
	float: right;
	margin-top: 30px;
	font-size: 16px;
	font-family: 'poppins',sans-serif;
	
}

/*

Job Details page.......................

*/

.job_details{
	margin: 30px 0px;
	font-family: 'poppins',sans-serif;
}
.job_details_page
{
background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
border-radius: 8px;
padding: 50px 20px 20px;
font-family: 'poppins',sans-serif;
margin-bottom: 100px;;
margin-right: 10px;

}


.job_details_page h3{
	margin-bottom: 10px;
}

.job_details_page h6{
font-weight: 400;
font-size: 12px;
line-height: 28px;
} 

.job_details_page span{
	margin-right: 100px;
}

.job_details_page a{
margin-left: 30%;
width:250px;	
}
.job_details_page h4{
	font-size: 16px;
	margin: 10px 0px;
	font-weight: 600;
}
.job_details_page p{
	font-size: 14px;
}


.job_details_side{
background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
border-radius: 8px;
padding: 30px 20px 20px;
margin-bottom: 30px;
}

.job_apply_side{
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	padding: 30px 20px 20px;
	margin-bottom: 30px;
	
	}

	.job_apply_side a{
		margin-left:13.5% ; width:200px; margin-top:-7px;
	}


.job_details_side h4{
	font-size: 18px;
}
.job_side_item p{
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: -5px;
	text-transform: uppercase;
}
.job_side_item span{
font-size: 12px;

}

.job_side_item hr{
	margin-top: 5px;
}

.job_details_side ul{
	margin-top: 10px;
}
.job_details_side ul li{
	list-style: disc;
	font-size: 14px;
}

.jobapp{
	background: none;
}
.jobform_head{
margin-top: 20px;
text-align: center;
font-family: 'poppins',sans-serif;
}

.jobform_head span{
	margin-left: 0%;
}

.jobform_head_close{
	margin-left: -20px;
}
.jobform label{
	margin-top: 20px;
	margin-bottom: 5px;
}

.uploadfile{
	margin-bottom: 30px;
}


/*
*** Career Section Code End
*/


/* Privacy Policy Start */
.privacy{
	margin-bottom: 100px;
	font-family:'poppins',sans-serif;
	color: #666666;

}

.privacy span {
	font-size:30px;
	

	

}
.privacy h3 {
	font-size:25px;

}

.privacy h4 {
	font-size:24px;

}
.privacy h5 {
	font-size:18px;

}
.privacy p{
	font-size: 14px;
}
.privacy p{
	text-align: justify;
	margin-top: 20px;
	margin-left: 0px;
}

/* Privacy Policy End */


/* Tems & ConditionEnd */
#terms{

	text-align: left;
	font-family: 'poppins',sans-serif;
}

#terms p{
	text-align: justify;
	font-size: 15px;
}
#terms h4{
margin-top: 20px;
margin-bottom: 10px;
}

#terms h5{
	margin-top: 20px;
	margin-bottom: 10px;
	}

#terms ul li{
	list-style-type: square;
	text-align: justify;
	font-size: 15px;
}
/* Tems & Condition End */


/* Cookie Section Start */



/* Cookie Section End */

#cookie{
	margin-bottom:200px;
	font-family: 'poppins',sans-serif;
}

#cookie ul li{
	list-style-type: square;
	margin-top: 20px;
	margin-bottom: 20px;
}

#cookie p{
	margin-bottom: 20px;
}

#cookie h4{
	font-size: 20px;
	margin-bottom: 10px;
}


/* Footer Code */

.footer {
	
	background-image: url("../img/ftup.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0px;
	z-index: 1000;
	
}


.footer ul {

	margin-left: 18%;
	height: 40px;
	
}
.footer ul li {
	margin-top: 1.5%;
	padding: 8px 15px;
	list-style: none;
	float: left;
}


.footer ul li a {
	text-decoration: none;
	color:#666666;
	font-family:'poppins',sans-serif;
	font-size: 13px;

}
.footer ul li a i{
	display: none;
}

.footer ul li a:hover{
	color:var(--red);
}

.copyright{
	display: none;
}

/* End Footer Code */
/* ========================================================== Service Page ===================================================================== */


.front_banners{
	text-align: center;
	
	padding-left: 300px;
}
.front_banners h1{

	font-size: 80px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
	font-family: 'poppins',sans-serif;


}
.front_banners h5{
	font-size: 25px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 15%;
	margin-top:-90px;
	font-family: 'poppins',sans-serif;

}
.front_banners h5 span{
	color:var(--green);

}


.service_banner{
	margin-left: 206px;

}
.service_banner img{
width: 933px;
}
.choice_service {
	margin-left: 206px;
}
.choice_service .tittle{
	font-family:'poppins',sans-serif;
	font-weight: 900;
	font-size: 16px;
	line-height: 18px;
	color: var(--green);
	margin-bottom: 14px;
}
.choice_service h5{
	font-family:'poppins',sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: var(--red);
	text-align: justify;
	margin-bottom: 10px;
}
.choice_service p{
	font-family:'poppins',sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 34px;
	color: #666666;
	text-align: justify;
	width: 920px;
    height: 105px;
	
}
.fa-arrow-right{
	padding-left: 12px;
	font-size: 30px;
	width: 30px;
}

.our_service{
box-sizing: border-box;
box-shadow: 0 0 16px 0 rgba(0,0,0,0.12);
border-radius: 12px;
height: 100%;
transition: 0.3s;
/* width: 1112px;  */
/* width: 900px;  */
 /* height: 382px; */
background-color:white;
padding-top: 70px;
margin-left: 206px;

}

.sr_sendmoney .readmore{
margin-left: 100px;
font-size: 18px;
color: #666666;
font-family:'poppins',sans-serif;
font-weight: 600;
}
.sr_marchent .readmore{
margin-left: 125px;
font-size: 18px;
color: #666666;
font-family:'poppins',sans-serif;
font-weight: 600;
}
.sr_corporate .readmore{
	margin-left: 125px;
font-size: 18px;
color: #666666;
font-family:'poppins',sans-serif;
font-weight: 600;
}
.sr_sendmoney p{

    padding-left: -8px;
    margin-left: 62px;
    line-height: 26px;
	font-family:'poppins',sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	color: #666666;
}
.sr_sendmoney h5{
	text-align:center; 
	font-weight: 900;
	font-size: 22px;
	color:#999999;
	margin-bottom: 15px;
}

.sr_sendmoney h5 span{
	color:var(--green) ;
}
.sr_sendmoney img{
	padding-left: 137px;
	margin-bottom: 29px; ;
}
.sr_marchent h5{
	text-align:center; font-weight: 900; 	
	font-size: 22px;
	color:#999999;
	margin-bottom: 15px;
}


.sr_marchent p{
    padding-left: -8px;
    margin-left: 62px;
    line-height: 26px;
	font-family:'poppins',sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	color: #666666;
}
.sr_marchent img{
	padding-left: 137px;
	margin-bottom: 29px; ;

}
.sr_corporate h5{
	text-align:center; font-weight: 900;
	font-size: 22px;
	color:var(--green) ;
	margin-bottom: 15px;
}

.sr_corporate p{
    padding-left: -8px;
    margin-left: 62px;
    line-height: 26px;
	font-family:'poppins',sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	color: #666666;
}
.sr_corporate img{
	padding-left: 137px;
	margin-bottom: 29px; ;
}


.comming h1{
	text-align: center; font-size:50px;
	color: var(--green);
	font-family:'poppins',sans-serif;
}










/* ========================================================== Mobile Responsive ===================================================================== */


/* Mobile Device Responsive */


@media only screen and (max-width: 600px) {
	body {
	  background: white;
	}


	/* Mobile Nav View Start */

	.pagehead {
		
		padding-bottom: 130px;
	}
	.logo1 {
	margin-left: 0px;
		
	}

	.logo1 img{
		width: 80px;
		height: 30px;
	}

	.search i{
		font-size: 13px;
	}
	.hddownbtn {
		font-size: 10px;
		padding: 2px 5px;
		margin-left: 5px;
		text-align: center;
	
	}
	

	.appmodal{
		margin-top: 50px;
		margin-left: 0%;
		width:100%;
		padding: 5px;
	
	}
	
	.dwnappmodal{
		font-family: 'poppins',sans-serif;
		text-align: center;
	
	
	}
	.dwnappmodal h4{
	color: #000a06;
	text-align: center;
	font-size:20px;
	font-weight:600;
	line-height: 20px;
	margin-top: 30px;
	margin-bottom: 10px;
	}
	
	.dwnappmodal p{
		font-weight: 600;
		
	}
	


	.dwnbutton{
		
		padding: 7px 15px;
		border-radius: 8px;
		background: var(--green);
		color: #F0F0F0;
	}
	.dwnbutton:hover{
		color:#F0F0F0;
	}
	

	.playstore p{
		margin-top: 20px;
	}
	
	.Appstore{
		margin-top: 30px;
	}

	

	.btn-close{
		margin-left: 90%;

	}
	.navbar-toggler{
		background-image: url('../img/toggleicon.png');
		background-repeat: no-repeat;
		background-position:center;
	
  }
  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

  

  .hd ul  {
	margin-top: 20px; 
  }

  .hd ul li {
	  border-bottom: 1px solid var(--green);
  }

  .hd ul li a:after{
	content:"";
	position:absolute;
	background: var(--red);
	height: 0px;

	left:0px;
	bottom: -11px;
  }



/* Mobile Nav View End */



/* Front Banner Mobile view Start */


.front_banner h1{
	font-size: 36px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;

	
}

.front_banner h5{
	font-size: 18px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	color: black;
	margin-top:-66px;

}

.front_banner h5 span{
	color:var(--green);
}

.front_banner p{
	margin-top:-20px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 14px;
	font-family: 'poppins',sans-serif;

	
}

/* Front Banner Mobile view End */


/* Faq Banner Mobile view Start */

.faq_banner{
	text-align: center;
	
}
.faq_banner h1{
	font-size: 60px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
}

.faq_banner h5{
	font-size: 18px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 10%;
	margin-top:-78px;

}

.faq_banner h5 span{
	color:var(--green);
}


.faq-group div {
	font-weight: 900;
   margin-left: 45px;
   text-transform: uppercase;
   Font-size:24px;
   margin-top: 32px;
   font-family: 'poppins',sans-serif;
}

.faq-group hr {
  
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
			box-sizing: content-box;
	height: 0;
	margin-top: 32px;
	
}

.faq-group:after {
	top: 37%;
	 left: 47%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: green;
	border-width: 15px;
  margin-left: 0px;
}

.faqquery p{
	padding: 0px 10px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;

}

.faqp{
	margin-top: 100px;
}
/* Faq Banner Mobile view End */


/* SINGLE SERVICE DETAILS START*/
.service-single h1{
	font-size: 36px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
	font-family: 'poppins',sans-serif;
	text-align: center;
}
.service-single h5{
	font-size: 20px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 25%;
	margin-top:-68px;
	font-family: 'poppins',sans-serif;

}

.service-single p{
	
	text-align: center;
	margin-top: -25px;
	font-size: 12px;
	
}
.service-single h5 span{
	color:var(--green);
}



.service-single h6{
	margin-top: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.service-single h3{
	width: 320px;
	font-style: normal;
font-weight: 700;
font-size: 20px;
line-height:35px;
color: var(--green);
margin-bottom: 50px;
text-align: center;
}

.service-single a{
padding: 12px 30px;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
border-radius: 8px;
margin-bottom: 30px;
margin-left: 28%;

}

.service-single img{
	margin-left: 16%;
}
.single_page_details{
	margin-top: 30px;
	margin-bottom: 20px;
}
 

.single_page_details h3{
	text-align: center;
	margin-bottom: 60px;
}

.sevdet p{
	margin-top: 100px;
	text-align: center;

}
.sevdet img{
	margin-left: 8%;
}
.smdt {
	margin-top: 100px;
	text-align: center;font-family: 'poppins',sans-serif;
}


/* SINGLE SERVICE DETAILS END*/




 /* Mobile Footer Section start*/

.footer{
position: relative;
bottom: 0px;
}

 .footer ul {

	
	height: max-content;
	margin-top: 10px;
	margin-left: 5%;
 }

 .footer ul li {
	margin-top: 5px;
	padding: 2px 15px;
	list-style: none;
	float: left;
 }


 .footer ul li a {

	text-decoration: none;
	color:#666666;
	font-family:'poppins',sans-serif;
	font-size: 12px;
	letter-spacing: 0.8px;


 }

 
 .footer ul li a i{
	display: inline;
 }



 .mobilesocial{
	display: inline;
	

 }

 .mobilesocial ul{
	border-top:1px solid var(--green)
 }
 .mobilesocial ul li  {
	position: relative;
	left: 15%;
	margin-bottom: 6px;
	margin-top: 10px;
 }

 .copyright{
	display: block;
 }

 .copyright p{
	font-size: 10px;
	text-align: center;
 }

  /* Mobile Footer Section End*/


 /* Destop Social Icons Hidden*/

 .social
 {
	display: none;
 }


 /* Social Icons End */



/* Privacy Mobile View */

 .privacy{
	padding: 10px 20px;
	margin-bottom: 50px;
	font-family:'poppins',sans-serif;
	color: #666666;
	text-align: left;
	margin: 0px auto;

}

.privacy p{
	text-align: justify;
	margin-top: 20px;
	margin-left: 0px;
}



/* Privacy Mobile View End */

/* Terms Page Mobile View */

#terms{
	margin-bottom: 300px;
	padding: 0px 20px;
	font-size: 13px;
	text-align: left;
}

#terms p{
	text-align: justify;
}

#terms ul li{
	list-style-type: square;
	text-align: justify;
}

/* Terms Page Mobile View End */


/* Cookie page  MObile view Code  Start*/

#cookie{
	margin-bottom:200px;
	padding: 0px 20px;
}

/* Cookie page Mobile view Code  End*/



/* contact Us page Mobile view Code  End*/

.mfrm{

	padding: 5px 20px;
	
}
.frmst{
	width: 100%;
	margin: 0px auto;
	
}

.frm{
	margin-bottom: 10px;
	background: white;
	
}

.adr h5{
	margin-top: 2px;
}
.adr{
	margin-bottom: 100px;
}

.mfrm .adr{
	text-align: center;
}

.mscl{
	display: none;
}




/* About Us page start*/

.details span{
	font-size: 18px;
	font-weight: 900;
	font-family: 'poppins',sans-serif;
	color:#666666;
	line-height: 24.64px;
	margin-left: 18px;
}
.details h3{
	font-size: 36px;
	font-family:'poppins',sans-serif;
	font-weight: 900;
	color:#666666;
	margin: 15px;
	}
	
	.details p {
		margin: 15px;
		text-align: justify;
		font-size: 14px;
		font-family: 'poppins',sans-serif;
		color:#666666;
	
	}
	.details ul{
		position: relative;
		margin-top: 50px;
		margin-left: 0px;
		margin-right: 10px;
	}
	
	.details ul li span{
		font-size: 30px;
		color:#666666;
		position: absolute;
		margin-top: 3px;
		margin-left: 15PX;
		font-weight: 900;
		font-family: 'poppins',sans-serif;
		
	}

	#gallery{
		margin-left: 20px;
	}

	#gallery img{
		width: 300px;
		height: auto;
		box-sizing: border-box;
		border: 1px solid rgba(0.19, 0.19, 0.19, 0.19);
		border-radius: 5px;
		position: relative;
	
	}
	
	#gallery .dtl {
	
		width: 250px;
		position: absolute;
		margin-top: -20px;
		margin-left: 7%;
		text-align: center;
		background: #FFFFFF;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
		padding-top: 5px;
		
	}

	#gallery .teamtable{
		margin-bottom: 300px;
	}
	
	#gallery .tag h4{
	display: none;
		transform: rotate(-90deg); width:300px; margin-left: -20px; margin-top: 120px;
	}
	
	#gallery .sigdiv{
		margin-top: 80px;
	
	}
	#gallery .teambtn a{
		margin-top: 18%;
		width:120px;
		margin-left:30%;
	
	}

	#official_logo img{
		width: 300px;
		margin-left:15px;

		
		
	}

	.epsmainlogo  {
		margin-top: -100px;
		width: 330px;
		z-index:500;
		background-image:url(../img/logo-png.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center ;
		margin-left: 20px;	
	}
	
	#achivement{
		margin-top: -100px;
		margin-bottom: 50px;
		
	}
	/*Career Section*/

	.career {
		padding: 20px;
	}
	.career form{
		width:100%;
		margin-top: 20px;
	}


	.srcbtn{
		background: var(--red);
		padding: 8px 15px;
		cursor: pointer;
		border-radius: 0px;
		
	}
	.srcbtn i{
		color:white;
		font-size: 14px;
		margin-left: 0px;
		margin-top: -20px;
		position: right;
		

	}

	/*Career Section*/

	.career_cat .jobblock{
		margin-top: 50px;
	}
	.career_cat h5{
		margin-left: 5px;
	}
	.jobpost{
		background: #FFFFFF;
		margin: 10px;
		padding: 20px 30px;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
		border-radius: 8px;
		font-family: 'poppins',sans-serif;
		
		}
		
		.jobpost p{
		font-weight: 400;
		font-size: 16px;
		line-height: 28px;
		color:var(--green);
		}
		
		.jobpost h3{
		font-weight: 700;
		font-size: 18px;
		line-height: 34px;
		}
		.jobpost h6{
		font-weight: 400;
		font-size: 12px;
		line-height: 28px;
		}
		.jobpost  span{
			margin-right: 15px;
			
		}
		
		.jobpost a{
			margin: 10px 0px 0px 0px;
		
		}
		
		.jdate{
			
			margin-top: 15px;
			float: right;
			margin-left: 20px;
			font-size: 8px;
		}

		.job_details_page{
			box-shadow: none;
			padding-top: 10px;
		}

		.job_details_page a{
			margin-left: 5%;
			margin-top: 10px;
			margin-bottom: 20px;
			width:250px;	
			}

			.job_details_page span{
				margin-right: 10px;
				
			}

			.jobform_head_close{
				margin-top: -100px;
				margin-left: 75%;
			}

	/*Career Section End*/





	/* Team Member All View Start*/
	
	  
	/* .btn {
		border: none;
		outline: none;
		padding: 12px 30px;
		background-color: white;
		cursor: pointer;
	  }
	  
	  .btn:hover {
		background-color: #ddd;
	  }
	  
	  .btn.active {
		background-color: rgb(237, 16, 16);
		color: white;
	  } */

	
}
/* About Us page end*/


/* contact Us page Mobile View Code End  */
/* ========================================================== Mobile Responsive End ===================================================================== */

/* ======================================================== Large Device ================================================================== */

@media screen and (min-width: 1900px) {
	body{
		background: white;
		min-height: 60rem;
		background-image: url(../img/bgbl8.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
	
		
	

	
	
	
	
		/* background-image: url(../img/Border_background.svg);
		background-position:  top corner ; 
		background-repeat: no-repeat; */
		
		/* padding-top: 4.5rem; */
	}
	
	.front_banner h1{
		font-size: 80px;
	}
	

	
	.appmodal{
		margin-top: 70px;
		margin-left: 60%;
		width:400px;
	}

	.front_banner h5{
		font-size: 25px;
		font-weight: 900;
		color: #F0F0F0;
		padding: 20px 10px;
		position: absolute;
		color: black;
		margin-left: 28%;
		margin-top:-90px;
	}
	
	.front_banner p{
		margin-top:-30px;
		margin-bottom: 20px;
		font-weight: 400;
		font-family: 'poppins',sans-serif;
		
	}

	.faq_banner h5{
		font-size: 25px;
		font-weight: 900;
		color: #F0F0F0;
		padding: 20px 10px;
		position: absolute;
		color: black;
		margin-left: 24%;
		margin-top:-90px;
		font-family: 'poppins',sans-serif;
	
	}
	.logo1{
		margin-left: 40px;
		
	}
	.logo1 img{
		width: 141px;
		height: 51px;
	}

	.offeritem{
		margin-bottom: 6px;
	
	}
	.hd ul li a:after{
		content:"";
		position:absolute;
		background: var(--red);
		height: 2px;
		left:0px;
		bottom: -16px;
	}
	
	.popup{
		background-color: #FFFFFF;
	
		border: 1px solid var(--green);
		border-radius: 12px;
		box-shadow: 0 4px 10px 0 rgba(0.19, 0.19, 0.19, 0.19);
		width: 858px;
		height: 120px;
		margin-left: 200px;
	}

	#navicons{
		margin-top: 520px;
	}
	.navigation-auto a{
	
		padding: 5px;
		border-radius: 10px;
		transition: 1s;
		transform: translate(-650px, -140px);
	
	  }

	.main-content{
   
		padding-left: 120px;
	
	  }
	.main-content .easy{
     
		font-size:5.5rem;
		text-transform: uppercase;
	  padding-top: 5px;
	  color: #FFFFFF;
	  font-weight:900;
	  font-family: 'Poppins',sans-serif;
	  -webkit-text-stroke: 1.5px var(--red);
	
  
	  }
  .main-content .payment{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:5.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px #009456;
		font-weight: 900;
	
	  }
   .main-content .system{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:5.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px var(--green);
		font-weight: 900;
		margin-bottom: 0.8rem;
	
	  }
	  
	  #partner{
		margin-top: 40px;
		margin-left: 140px;
		position: relative;
	}
	
	  .partnertitle {

		/* margin-top: -45px;  */
		font-size:72px;
		margin-bottom: -20px;
	
	
	
	}

	#official_logo img{
		width: 740px;
		margin-left: 30%;
	
		
		
	}
	
	#official_logo h5{
		margin-left: 30%;
	}
	.navigation-auto a{
	
		padding: 5px;
		border-radius: 10px;
		transition: 1s;
		transform: translate(-650px, -100px);
	
	
	  }
	  .slider-main{
		margin-left: -60px;
			}  
		.mobile-slider{
				margin-left: 10px;
			}
	  .slider-main ul {
		position: absolute;
		overflow: hidden;
		border-radius: 15px;
		margin-left: -340px;
	  
		width: 500px;
		height: 500px;
	  
	  }
	  #popup{
		margin-top: 13%;
		margin-left: 160px;
		width: 894px;
	}
	
	.slider-popup-top {
		margin-left: 480px;
	}
	.slider-popup-bottom {
		margin-left: 10px;
	}


	/***SErvice Page******************************/

	.front_banners h5{
		font-size: 25px;
		font-weight: 900;
		color: #F0F0F0;
		padding: 20px 10px;
		position: absolute;
		color: black;
		margin-left: 12%;
		margin-top:-90px;
	}
	.front_banners h1{
		font-size: 80px;
	}
	.service_banner{
		margin-left: 80px;
	}
	.choice_service {
		margin-left: 80px;
			
	}
.choice_service .tittle{
	font-family: Poopins; 
	font-weight: 900;

}
.our_service{
	margin-left: 80px;
	width: 1112px;
}
.service_banner img{
	width: 1100px;
	}

	.choice_service p{
	
		width: 1090px;
	
		
	}


	.our_service{
		box-sizing: border-box;
		box-shadow: 0 0 16px 0 rgba(0,0,0,0.12);
		border-radius: 12px;
		height: 100%;
		transition: 0.3s;
		/* width: 1112px;  */

		 height: 382px;
		background-color:white;
		padding-top: 70px;
		margin-left: 80px;
		
		}
		
		.sr_sendmoney .readmore{
		margin-left: 100px;
		
		}
		.sr_marchent .readmore{
			margin-left: 155px;
	
		}
		.sr_corporate .readmore{
			margin-left: 155px;
	
		}
		.sr_sendmoney {
		
		
			margin-left: 12px;
			
		}
	
		.sr_sendmoney h5{
		
			padding-left: 10px;
			
		}
		
	
		.sr_sendmoney img{
			padding-left: 137px;
		
		}
		.sr_marchent{
		margin-left: -60px;
		}
		
		.sr_marchent h5{
			padding-left: 15px;
	
		}
		
		

		.sr_marchent img{
			padding-left: 167px;
			margin-bottom: 29px; ;
		
		}
		.sr_corporate {
			margin-left: -60px;
		}
		.sr_corporate h5{
			padding-left: 15px;
		
		}
		
	
		.sr_corporate img{
			padding-left: 167px;
		
		}
		
		.service-single h5{
			font-size: 25px;
			font-weight: 900;
			color: #F0F0F0;
			padding: 20px 10px;
			position: absolute;
			color: black;
			margin-left: 30%;
			margin-top:-90px;
			font-family: 'poppins',sans-serif;
		
		}
		
		.service-single p{
			
			text-align: center;
			margin-top: -25px;
			
		}
		.service-single h5 span{
			color:var(--green);
		}
		
		.boxstyle{
			width: 950px;
			height: 40px;
			background: var(--green);
			margin-left: 16%;
		
			
		}
		
		

  }


  @media screen and (min-width: 1440px) {

	  body{

		background-color: white;
		min-height: 50rem;
		/* padding-top: 4.5rem; */
	}

	/*css for automatic navigation*/

	.navigation-auto{
		position: absolute;
		display: flex;
		width: px;
		justify-content: center;
		margin-top: 500px;
	  }
	
  .navigation-auto a{
	
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
	transform: translate(-650px, -100px);



  }

/* .slider-main{
margin-left: 75px;
} */
.main-content{
   
	margin-left: 58px;

  }




  }
