
body{

	background-color: white;
	min-height: 60rem;
/* 	background-image: url(../img/Border_background.svg);
	background-position:  center ; */
	/* padding-top: 4.5rem; */
}

.pagehead{

	width: 100%;
	height: 100px;
	background: #009456;
	color:white;

}
.pagehead p{
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
}
.pagehead h3{
	text-align: center;
	padding-top: 30px;
}

.modalp{
	margin: 0px auto;
	position: absolute;
	top:50%
}
a{
	text-decoration: none;
	color:#000;
  
  }
  li{
	list-style: none;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.1px;
    font-weight: 500;
    line-height: 1;
}
p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}
/* Menu Code */


.navbg{
	background:#F5F5F5;
	border-bottom: 3px solid green;
	/*  */
	

}

.logo1{
	margin-left: 40px;
	
}
.logo1 img{
	width: 125px;
	height: 45px;
}

.hddownbtn {
	padding: 2px 5px;
	margin-left: 51px;
}

:before,
:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.hd ul li a {
	position:relative;
	text-decoration: none;
	font-family:'poppins',sans-serif;
	font-size:13px;
	color: #666666;
	font-weight:500;
	letter-spacing: 0.5px;
	padding: 10px 5px;
	margin-left: 10px;

	

}

.dwnappmodal{
	font-family: 'poppins',sans-serif;
}
.dwnappmodal h4{
color: #009456;
text-align: center;
font-size:20px;
font-weight:600;
line-height: 20px;
margin-bottom: 30px;
}

.dwnbutton{
	
	padding: 10px 20px;
	border: 1px dotted darkorange;
}


.navbar  li a:hover,
.navbar li a.active
{
color:rgb(233, 23, 23);
}

.hd ul li a:after{
	content:"";
	position:absolute;
	background: red;
	height: 2px;

	left:0px;
	bottom: -13px;
}

.hd ul li a.active:after{
	width:100%
}
.hd ul li a:hover:after{
	width:100%
}

.search i{
	font-size: 15px;
}
.hddownbtn {
	font-size: 10px;
	padding: 5px 10px;
	margin-left: 5px;
	text-align: center;

}

/* Social Icon start */
.social
{
	position: fixed;
	top:37%;
}
.social ul li {
	list-style: none;
	padding: 10px 30px;
	
	
}
.social ul li a {
	color: #666666;
}

.mobilesocial{
	display: none;
}

/*end social Code  */



.subcription{
	z-index: 2000;
	position: fixed;
	right: -80px;
	top:45%;
}

.subcription span{
	position: absolute;
	right:120px;

	
}

.subcription span a i{
	color:7C7C7C;
	font-weight: 900;
	
	
}

.subform{
	width: 303px;
	height: 437px;
	background: #FFFFFF;
	filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.3));
}

.subform img{
	text-align: center;
	margin-left: 25px;
}

/*********************Home Main content Part start****************/
/*********************Home Easy Payment System Part start****************/
.main-content{
   
    padding-left: 180px;

  }
.btn-1{
   
    background-color: #009456;
    color: #FFFFFF;
    border-radius: 4px;
	font-family: 'Poppins',sans-serif;
    font-size: 0.8em;
    }
.btn-1:hover{
   
    background-color: #009456;
    color: #FFFFFF;
    border-radius: 4px;
	font-family: 'Poppins',sans-serif;
    font-size: 0.8em;
    }

	.main-content .easy{
     
		font-size:4.5rem;
		text-transform: uppercase;
	  padding-top: 5px;
	  color: #FFFFFF;
	  font-weight:900;
	  font-family: 'Poppins',sans-serif;
	  -webkit-text-stroke: 1.5px #EE2D43;
	
	  margin-top: 10px;
	  }
  .main-content .payment{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:4.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px #009456;
		font-weight: 900;
	
	  }
   .main-content .system{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:4.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px #009456;
		font-weight: 900;
		margin-bottom: 0.8rem;
	
	  }
  .main-content p{
	font-family: 'Poppins',sans-serif;
	font-size: 14px;
	line-height: 20px;
	width: 450px;
	text-align: justify;
	color: #666666;

  }
  /**Read More****/
  .main-content .readmore{
	/* font-family: 'Poppins',sans-serif; */
	/* font-size: 14px; */
	color: #666666;
  }
  
  .partnertitle {
	  font-size:60px;
	  margin-bottom: -30px;
  }

  


/*********************End Home Easy Payment System Part start****************/
/********************* Home Hover button Part start****************/

.slides .btn{
	font-family: 'Poppins',sans-serif;
	font-size: 0.8rem;
	color: #666666;
	/* 
	height:30px; */
	width:110px;
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
	padding-top:8px ;
	font-weight: 600;
  }
 .slides .btn.active{
  
    color: #FFFFFF;
    
 }  

.mobile-slider{
	height: 400px;
	width:198px;
  overflow: hidden;
  border:6px solid #3F3D56;
  border-radius: 24px;

 margin-left:100px;

  /* margin: 0;
  m: 0; */
 
}
.mobile-slider .sendmony{
	margin-top: 80px;
	height: 60px;
	width: 217px;
	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation-iteration-count: infinite;
    position: absolute;
	z-index: 100;  background-color: white;  border-radius: 8px;
	display: inline-block;
   margin: 80px -150px ;
  animation: shakeX 50s infinite; 
}

.mobile-slider .text{
	
	margin-top: 60px;
	/* margin-right: 1000px;	 */
	height: 60px;
	width: 217px;
	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);
	animation: shake 6s;
	animation-iteration-count: infinite;
position: absolute;
	z-index: 2000;  background-color: white;  border-radius: 8px;
}

.sendmony img{
	padding-left: 25%; padding-top: 10px;
}
.sendmony p{
	font-family: Poppins; font-weight: 400; font-size: 12px;text-align: center; color:#666666;
}
.billpay{
	z-index: 2000; position: absolute; background-color: white;  border-radius: 8px;
}
.billpay img{
	width: 250px; height: 70px; margin-top: 12px;margin-left:17px;
}

.mobile-slider .billpay{
	margin-top: 240px;	
	margin-left: 100px;	
	height: 90px;
	width: 290px;	
	box-shadow: 0 4px 10px 0  rgba(0, 0, 0, 0.25);

		z-index: 2000;
		position: absolute;
		background-color: white;
		border-radius: 8px;
	
		animation: shakeX 50s infinite; 
}

  .slides{
	width: 650%;
  
	display: flex;
	padding-right:30px ;
  
  }
  
  .slides input{
	display: none;
	/* margin-left: 12px; */
  }/*********************End Home Hover button Part ****************/
  
  .slide-mobile{
	width: 20%;
	transition: 2s;
  }
  
	  .slide-mobile	.content {
		  position: absolute;
		  left: 0;
		  z-index: 2000;
		  bottom: 99px;
		  color: #fff;
		  padding: 25px;
		  background-color: rgba(0, 0, 0, 0.5);
	  
	  }
  
  
  .tabcontent img{
	height: 370px;
	width:200px;
	border-radius: 22px;
	margin: 0 0 0 -16px;
   
  }
  .tabcontent h6{
	

   
  }

  .slide-mobile img{
	height: 370px;
	width:197px;
	border-radius: 24px;
	margin: 0 0 0 -14px;
   
  }
  
  


  
 
  

  /*css for manual slide navigation*/
  
  .navigation-manual{
	position: absolute;
	display: flex;
	justify-content: center;
	width: 600px;
	margin-top: 8px;
	
  }
  
  /* .manual-btn{
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
    background-color: red;
	padding: 5px;
	width: 30px;
  } */
  .manual-btn1{
	margin-right: 12px;
	cursor: pointer;
	transition: 1s;
	background: #EE2D43;
	border-radius: 2px;
	width: 12px;
	height: 8px;

  }
  .manual-btn2{
	margin-right: 12px;
	cursor: pointer;
	transition: 1s;
	background: #EE2D43;
	border-radius: 2px;
	width: 12px;
	height: 8px;
  }
  .manual-btn3{
	margin-right: 12px;
	cursor: pointer;
	transition: 1s;
	background: #EE2D43;
	border-radius: 2px;
	width: 12px;
	height: 8px;
  }
  .manual-btn4{
	margin-right: 12px;
	cursor: pointer;
	transition: 1s;
	background: #EE2D43;
	border-radius: 2px;
	width: 12px;
	height: 8px;
  }
  
  .manual-btn:not(:last-child){
	margin-right: 40px;
  }
  
 
  .manual-btn1:hover{
	background: white;
  }
  
  #radio1:checked ~ .first{
	margin-left: 0;
  }
  
  #radio2:checked ~ .first{
	margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
	margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
	margin-left: -60%;
  }
  
 
/*css for automatic navigation*/

.navigation-auto{
	position: absolute;
	display: flex;
	width: px;
	justify-content: center;
	margin-top: 500px;
  }

  .navigation-auto a{
	
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
	transform: translate(-600px, -140px);



  }
  .navigation-auto a:hover{
	
	padding: 5px;
	border-radius: 10px;
	transition: 1s;

	background-color: #009456;
	color: #FFFFFF;


  }
  
  .navigation-auto a:not(:last-child){
	margin-right: 10px;
  }
  
  #radio1:checked ~.navigation-auto .auto-btn1{
	background-color: #009456;
	color: #F0F0F0;
  }
  #radio1:checked ~.navigation-auto .manual-btn1{
	background-color: #FFFFFF;
	color: #F0F0F0;
  }
  #radio2:checked ~.navigation-auto .manual-btn2{
	background-color: #FFFFFF;
	color: #F0F0F0;
  }
  #radio3:checked ~.navigation-auto .manual-btn3{
	background-color: #FFFFFF;
	color: #F0F0F0;
  }
  #radio4:checked ~.navigation-auto .manual-btn4{
	background-color: #FFFFFF;
	color: #F0F0F0;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: #009456;
	color: #F0F0F0;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: #009456;
	color: #F0F0F0;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: #009456;
	color: #F0F0F0;
  }
		
		
 /********************end css for automatic navigation********************************************/     
  /*********************Main content End********************/

  /*********************Home Popup start ****************/
  /* .popup {
	

  
	animation:pulse; 
	animation-duration: 2s;
  } */
  /* .animate__animated.animate__pulse{
	--animate-duration: 2s;

  } */

  .popup{
	background-color: #FFFFFF;
	
	border: 1px solid #009456;
	border-radius: 12px;
	box-shadow: 0 4px 10px 0 rgba(0.19, 0.19, 0.19, 0.19);
	width: 780px;
	margin-top:12%;
	margin-left: 170px;
	position: absolute;
	display: none;
	z-index: 1000;
	height: 120px;
}
.popup p{
 
    /* padding: 0px 5px; */
	margin-left: 20px;
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 22px;
    width: 527px;
    font-weight: 500;
    text-align: justify;
	/* position: absolute; */
	padding-top: 24px;

}
.popup #close{
	display: block;
	/* margin: 0 0 20px auto; */
	float: right;
    color: #000000;
	cursor: pointer;
	font-size: 20px;
	outline: none;
	border: none;
	padding-right: 5px;
}
.popup .cookie-link{
	color: #EE2C43;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.popup .button{
	float: right;
	margin-right: 20px;
margin-top: -55px;
}
.popup .button .accept{
	background-color:  #0E694B;

	margin-right: 5px;
	width: 90px;
	height: 38px;
	border-radius: 8px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 8px;
}
.popup .button .deny{
	background-color: #EE2C43;

	width: 90px;
	height: 38px;
	border-radius: 8px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 8px;
}
  /*********************Home Popup end****************/




/* Partners image */
.partner{
padding-right: 330px;
	margin-left: 160px;
}
h2{
	text-align:center;
	padding:5px 5px;
	font-family: 'poppins',sans-serif;
	color:#F0F0F0;
	font-size: 75px;
	font-weight: 900;
  }
  /* Slider */
  
  
  .slick-slide {
	  margin: 0px 20px;
  }
  
  .slick-slide img {
	  width: 100px;
  }
  
  .slick-slider
  {
	  position: relative;
	  display: block;
	  box-sizing: border-box;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
			  user-select: none;
	  -webkit-touch-callout: none;
	  -khtml-user-select: none;
	  -ms-touch-action: pan-y;
		  touch-action: pan-y;
	  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
	  position: relative;
	  display: block;
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
  }
  .slick-list:focus
  {
	  outline: none;
  }
  .slick-list.dragging
  {
	  cursor: pointer;
	  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
	  -webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		   -o-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
	  position: relative;
	  top: 0;
	  left: 0;
	  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
	  display: table;
	  content: '';
  }
  .slick-track:after
  {
	  clear: both;
  }
  .slick-loading .slick-track
  {
	  visibility: hidden;
  }
  
  .slick-slide
  {
	  display: none;
	  float: left;
	  height: 100%;
	  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
	  float: right;
  }
  .slick-slide img
  {
	  display: block;
  }
  .slick-slide.slick-loading img
  {
	  display: none;
  }
  .slick-slide.dragging img
  {
	  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
	  display: block;
  }
  .slick-loading .slick-slide
  {
	  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
	  display: block;
	  height: auto;
	  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
	  display: none;
  }

  /* End Partners Image */


/* Contact Us Start*/

.front_banner{
	text-align: center;
	
}
.front_banner h1{
	font-size: 80px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
}

.front_banner h5{
	font-size: 25px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 37%;
	margin-top:-90px;

}

.front_banner h5 span{
	color:green;
}

.frm{
	border: 1px solid #F0F0F0;
	margin-top: 50px;
	border-radius: 8px;
	padding: 20px 10px;
	margin-bottom: 250px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: white;
}
.frm h5{
	margin-top: 50px;
	margin-left:20px;
	margin-top: 5px;
	
}
.frm form input{
	padding:30px 10px;
	border-top:none;
	border-right: none;
	border-left:none;
	border-radius: 0px;
	margin-top: 10px;
}

.frm form textarea{
	margin-top: 20px;
	border-top:none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	height: 130px;
}

.frm .sbt{
	margin-top: 25px;
	padding: 5px 10px;
	background-color: green;
	color:white;
	margin-bottom: 10px;
}


.adr h5{
	font-size: 16px;
	margin-top:50px;
	margin-bottom:15px;
}
.adr i{
	margin-top: 55px;
	font-size: 25px;
	color: #666666;
}
.adr p{
	font-size: 14px;

}

.adr .row{
	margin-bottom: -15px;
}

.contact_social{
	margin-top: -40px;
	margin-left: -25px;
}
.contact_social ul li{
display: flex;
float: left;
padding-right:30px;

}.mscl{
	display: inline;
}
.contact_social ul li a{
	color: #666666;
	
}
.contact_social ul li a i{
	font-size: 18px;
	margin-left: -12px;
}



/* Contact Us End*/


/* ABout Us page start*/
.details{
	margin-top:3%;;
}

.details span{
	font-size: 22px;
	font-weight: 900;
	font-family: 'poppins',sans-serif;
	color:#666666;
	line-height: 24.64px;
	margin-left: 10px;
}
.details h3{
font-size: 72px;
font-family:'poppins',sans-serif;
font-weight: 900;
color:#666666;
}

.details p {
	margin-top: 15px;
	text-align: justify;
	font-size: 14px;
	font-family: 'poppins',sans-serif;
	color:#666666;
}
.details ul{
	position: relative;
}

.details ul li span{
	font-size: 30px;
	color:#666666;
	position: absolute;
	margin-top: 3px;
	margin-left: 30PX;
	font-weight: 900;
	font-family: 'poppins',sans-serif;
	
}

#team_head{
	margin-top: 100px;

	
}
/* ABout Us page End*/



#gallery img{
	width: 310px;
	height: auto;
	box-sizing: border-box;
	border: 1px solid rgba(0.19, 0.19, 0.19, 0.19);
	border-radius: 5px;
	position: relative;
}

#gallery .dtl {

	width: 250px;
	position: absolute;
	margin-top: -20px;
	margin-left: 2%;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	padding-top: 5px;
	
}

#gallery .tag h4{
	display: block;
	transform: rotate(-90deg); width:300px; margin-left: -20px; margin-top: 120px;
}

#gallery .sigdiv{
	margin-top: 80px;

}

#gallery .dtl h5{
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: -5px;
}
#gallery .dtl p{
	font-size: 12px;
	margin-bottom: 8px;
	
}

#official_logo{
	margin-top: 50px;


}

#official_logo img{
	width: 740px;
	margin-left: 25%;

	
	
}
#official_logo a:hover img{
	background: rgba(0, 0, 0, 0.25);
	background-image:url(../img/logohover.png);
background-repeat: no-repeat;
background-position: center bottom;


}
#achivement{
	margin-bottom: 150px;
	
}

/* Modal View*/
.mbody
{

	border: 1px solid black;
	margin: 20px;
	background-image: url(../img/Vector\ 19.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	

	
}

.mbody button{
	width:10px;
	margin-left: 30px;
}

.mbody h4{
	font-size: 24px;
	font-weight: 900;
	margin-top: 100px;
	margin-left: 12%;
}

.mbody p{
	font-family: 'poppins',sans-serif;
	font-size: 16px;
	color: #666666;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom:50px;
	line-height: 34px;
	


	
}
.mbody a {
	background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
border-radius: 8px;
margin-left: 20%;
}

.mbody span{
	font-size: 14px;
	margin-left: 35%;
	
/* END Modal*/
	
}
.mmg{

	width: 232px;
	height:232px;
	border-radius: 50%;
	margin-top: 70px;
	margin-left: 30px;

}

.qr  {
	width: 118px;
	height: 116px;
	margin-top: 100px;
	margin-left: 100px;
	margin-bottom: 100px;

}

/*Details single view*/
.sin_img{
	
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.sin_des{
	
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 150px;
}
.single_img{
	width: 232px;
	height:232px;
	border-radius: 50%;
	margin-top: 40px;
	margin-left: 32%;
}


.sing_text{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
	font-family: 'poppins',sans-serif;
}

.full_des{
	padding: 20px 20px 0px 20px;
	font-family:spartan;
	font-size: 18px;
	line-height: 34px;

}


/*Details single view End*/

/*
*** Career Section Code Start
*/

.career{

	padding: 40px 0px 30px 0px;

}

.srcbtn{
	background: green;
	border: none;
	border-radius: 0px;
}

.srcbtn i {
	font-size: 20px;
	margin-top: 8px;
	color:white;
	
	
}

.career_cat{

	padding: 20px  10px;
	font-family: 'poppins',sans-serif;
	margin-bottom: 100px;
	
}

.career_cat ul{
	margin-top: 20px;
}
.career_cat ul li{
	margin-left: -25px;
	padding: 10px 0px;
	border-bottom: 1px solid black;
}

.career_cat ul li a {
	margin-top: 10px;
	
}

.career_cat ul li a i {
	font-size: 20px;
	
}


.jobpost{
background: #FFFFFF;
margin: 10px;
padding: 20px 30px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
border-radius: 8px;
font-family: 'poppins',sans-serif;

}

.jobpost p{
font-weight: 400;
font-size: 16px;
line-height: 28px;
color:#009456;
}

.jobpost h3{
font-weight: 700;
font-size: 26px;
line-height: 34px;
}
.jobpost h6{
font-weight: 400;
font-size: 12px;
line-height: 28px;
}
.jobpost  span{
	margin-right: 100px;
	
}

.jobpost a{
	margin: 30px 0px 20px 0px;

}

.jdate{
	float: right;
	margin-top: 30px;
	font-size: 16px;
	
}

/*

Job Details page.......................

*/

.job_details{
	margin: 30px 0px;
}
.job_details_page
{
background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
border-radius: 8px;
padding: 50px 20px 20px;
font-family: 'poppins',sans-serif;
margin-bottom: 100px;;
margin-right: 10px;

}


.job_details_page h3{
	margin-bottom: 10px;
}

.job_details_page h6{
font-weight: 400;
font-size: 12px;
line-height: 28px;
} 

.job_details_page span{
	margin-right: 100px;
}

.job_details_page a{
margin-left: 30%;
width:250px;	
}
.job_details_page h4{
	font-size: 16px;
	margin: 10px 0px;
	font-weight: 600;
}
.job_details_page p{
	font-size: 14px;
}


.job_details_side{
background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
border-radius: 8px;
padding: 30px 20px 20px;
margin-bottom: 30px;
}

.job_details_side h4{
	font-size: 18px;
}
.job_side_item p{
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: -5px;
	text-transform: uppercase;
}
.job_side_item span{
font-size: 12px;

}

.job_side_item hr{
	margin-top: 5px;
}

.job_details_side ul{
	margin-top: 10px;
}
.job_details_side ul li{
	list-style: disc;
	font-size: 14px;
}

.jobapp{
	background: none;
}
.jobform_head{
margin-top: 20px;
text-align: center;
}

.jobform_head span{
	margin-left: 0%;
}

.jobform_head_close{
	margin-left: -20px;
}
.jobform label{
	margin-top: 20px;
	margin-bottom: 5px;
}

.uploadfile{
	margin-bottom: 30px;
}


/*
*** Career Section Code End
*/


/* Privacy Policy Start */
.privacy{
	margin-bottom: 100px;
	font-family:'poppins',sans-serif;
	color: #666666;

}

.privacy span {
	font-size:30px;
	

	

}
.privacy h3 {
	font-size:25px;

}

.privacy h4 {
	font-size:24px;

}
.privacy h5 {
	font-size:18px;

}
.privacy p{
	font-size: 14px;
}
.privacy p{
	text-align: justify;
	margin-top: 20px;
	margin-left: 0px;
}

/* Privacy Policy End */


/* Tems & ConditionEnd */
#terms{

	text-align: left;
}

#terms p{
	text-align: justify;
	font-size: 15px;
}

#terms ul li{
	list-style-type: square;
	text-align: justify;
	font-size: 15px;
}
/* Tems & Condition End */


/* Cookie Section Start */



/* Cookie Section End */

#cookie{
	margin-bottom:200px;
}

#cookie ul li{
	list-style-type: square;
	margin-top: 20px;
	margin-bottom: 20px;
}

#cookie p{
	margin-bottom: 20px;
}


/* Footer Code */

.footer {
	
	background-image: url("../img/Footer_banner_2.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0px;
	
}


.footer ul {

	margin-left: 18%;
	height: 40px;
	
}
.footer ul li {
	margin-top: 1.5%;
	padding: 8px 15px;
	list-style: none;
	float: left;
}


.footer ul li a {
	text-decoration: none;
	color:#666666;
	font-family:'poppins',sans-serif;
	font-size: 13px;

}
.footer ul li a i{
	display: none;
}

.footer ul li a:hover{
	color:red;
}

.copyright{
	display: none;
}

/* End Footer Code */

















/* ========================================================== Mobile Responsive ===================================================================== */


/* Mobile Device Responsive */


@media only screen and (max-width: 600px) {
	body {
	  background: white;
	}


	/* Mobile Nav View Start */

	.pagehead {
		
		padding-bottom: 130px;
	}
	.logo1 {
	margin-left: 0px;
		
	}

	.logo1 img{
		width: 80px;
		height: 30px;
	}

	.search i{
		font-size: 13px;
	}
	.hddownbtn {
		font-size: 10px;
		padding: 2px 5px;
		margin-left: 5px;
		text-align: center;
	
	}
	
	.navbar-toggler{
		background-image: url('../img/toggleicon.png');
		background-repeat: no-repeat;
		background-position:center;
	
  }
  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

  

  .hd ul  {
	margin-top: 20px; 
  }

  .hd ul li {
	  border-bottom: 1px solid green;
  }

  .hd ul li a:after{
	content:"";
	position:absolute;
	background: red;
	height: 0px;

	left:0px;
	bottom: -11px;
  }



/* Mobile Nav View End */



/* Front Banner Mobile view Start */

.front_banner{
	text-align: center;
	
}
.front_banner h1{
	font-size: 40px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: relative;
}

.front_banner h5{
	font-size: 18px;
	font-weight: 900;
	color: #F0F0F0;
	padding: 20px 10px;
	position: absolute;
	color: black;
	margin-left: 28%;
	margin-top:-68px;

}

.front_banner h5 span{
	color:green;
}

/* Front Banner Mobile view End */


 /* Mobile Footer Section start*/

.footer{
position: relative;
bottom: 0px;
}

 .footer ul {

	
	height: max-content;
	margin-top: 10px;
	margin-left: 5%;
 }

 .footer ul li {
	margin-top: 5px;
	padding: 2px 15px;
	list-style: none;
	float: left;
 }


 .footer ul li a {

	text-decoration: none;
	color:#666666;
	font-family:'poppins',sans-serif;
	font-size: 12px;
	letter-spacing: 0.8px;


 }

 
 .footer ul li a i{
	display: inline;
 }



 .mobilesocial{
	display: inline;
	

 }

 .mobilesocial ul{
	border-top:1px solid green
 }
 .mobilesocial ul li  {
	position: relative;
	left: 15%;
	margin-bottom: 6px;
	margin-top: 10px;
 }

 .copyright{
	display: block;
 }

 .copyright p{
	font-size: 10px;
	text-align: center;
 }

  /* Mobile Footer Section End*/


 /* Destop Social Icons Hidden*/

 .social
 {
	display: none;
 }


 /* Social Icons End */



/* Privacy Mobile View */

 .privacy{
	padding: 10px 20px;
	margin-bottom: 50px;
	font-family:'poppins',sans-serif;
	color: #666666;
	text-align: left;
	margin: 0px auto;

}

.privacy p{
	text-align: justify;
	margin-top: 20px;
	margin-left: 0px;
}



/* Privacy Mobile View End */

/* Terms Page Mobile View */

#terms{
	margin-bottom: 300px;
	padding: 0px 20px;
	font-size: 13px;
	text-align: left;
}

#terms p{
	text-align: justify;
}

#terms ul li{
	list-style-type: square;
	text-align: justify;
}

/* Terms Page Mobile View End */


/* Cookie page  MObile view Code  Start*/

#cookie{
	margin-bottom:200px;
	padding: 0px 20px;
}

/* Cookie page Mobile view Code  End*/



/* contact Us page Mobile view Code  End*/

.mfrm{

	padding: 5px 20px;
	
}
.frmst{
	width: 100%;
	margin: 0px auto;
	
}

.frm{
	margin-bottom: 10px;
	background: white;
	
}

.adr h5{
	margin-top: 2px;
}
.adr{
	margin-bottom: 100px;
}

.mfrm .adr{
	text-align: center;
}

.mscl{
	display: none;
}




/* About Us page start*/

.details span{
	font-size: 18px;
	font-weight: 900;
	font-family: 'poppins',sans-serif;
	color:#666666;
	line-height: 24.64px;
	margin-left: 18px;
}
.details h3{
	font-size: 36px;
	font-family:'poppins',sans-serif;
	font-weight: 900;
	color:#666666;
	margin: 15px;
	}
	
	.details p {
		margin: 15px;
		text-align: justify;
		font-size: 14px;
		font-family: 'poppins',sans-serif;
		color:#666666;
	
	}
	.details ul{
		position: relative;
		margin-top: 50px;
		margin-left: 0px;
		margin-right: 10px;
	}
	
	.details ul li span{
		font-size: 30px;
		color:#666666;
		position: absolute;
		margin-top: 3px;
		margin-left: 15PX;
		font-weight: 900;
		font-family: 'poppins',sans-serif;
		
	}

	#gallery img{
		width: 300px;
		height: auto;
		box-sizing: border-box;
		border: 1px solid rgba(0.19, 0.19, 0.19, 0.19);
		border-radius: 5px;
		position: relative;
	}
	
	#gallery .dtl {
	
		width: 250px;
		position: absolute;
		margin-top: -20px;
		margin-left: 2%;
		text-align: center;
		background: #FFFFFF;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
		padding-top: 5px;
		
	}

	#gallery .teamtable{
		margin-bottom: 300px;
	}
	
	#gallery .tag h4{
	display: none;
		transform: rotate(-90deg); width:300px; margin-left: -20px; margin-top: 120px;
	}
	
	#gallery .sigdiv{
		margin-top: 80px;
	
	}


	#official_logo img{
		width: 300px;
	
		margin-left:15px;
		
		
	}


	/*Career Section*/

	.career {
		padding: 20px;
	}
	.career form{
		width:100%;
		margin-top: 20px;
	}


	.srcbtn{
		background: red;
		padding: 8px 15px;
		cursor: pointer;
		border-radius: 0px;
		
	}
	.srcbtn i{
		color:white;
		font-size: 14px;
		margin-left: 0px;
		margin-top: -20px;
		position: right;
		

	}

	/*Career Section*/

	.career_cat h5{
		margin-left: 5px;
	}
	.jobpost{
		background: #FFFFFF;
		margin: 10px;
		padding: 20px 30px;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
		border-radius: 8px;
		font-family: 'poppins',sans-serif;
		
		}
		
		.jobpost p{
		font-weight: 400;
		font-size: 16px;
		line-height: 28px;
		color:#009456;
		}
		
		.jobpost h3{
		font-weight: 700;
		font-size: 18px;
		line-height: 34px;
		}
		.jobpost h6{
		font-weight: 400;
		font-size: 12px;
		line-height: 28px;
		}
		.jobpost  span{
			margin-right: 15px;
			
		}
		
		.jobpost a{
			margin: 10px 0px 0px 0px;
		
		}
		
		.jdate{
			
			margin-top: 15px;
			float: right;
			margin-left: 20px;
			font-size: 8px;
		}

		.job_details_page{
			box-shadow: none;
			padding-top: 10px;
		}

		.job_details_page a{
			margin-left: 5%;
			margin-top: 10px;
			margin-bottom: 20px;
			width:250px;	
			}

			.job_details_page span{
				margin-right: 10px;
				
			}

			.jobform_head_close{
				margin-top: -100px;
				margin-left: 75%;
			}

	/*Career Section End*/





	/* Team Member All View Start*/
	
	  
	/* .btn {
		border: none;
		outline: none;
		padding: 12px 30px;
		background-color: white;
		cursor: pointer;
	  }
	  
	  .btn:hover {
		background-color: #ddd;
	  }
	  
	  .btn.active {
		background-color: rgb(237, 16, 16);
		color: white;
	  } */

	
}
/* About Us page end*/


/* contact Us page Mobile View Code End  */
/* ========================================================== Mobile Responsive End ===================================================================== */

/* ======================================================== Large Device ================================================================== */

@media screen and (min-width: 1900px) {
	.front_banner h1{
		font-size: 80px;
	}
	
	.front_banner h5{
		font-size: 25px;
		font-weight: 900;
		color: #F0F0F0;
		padding: 20px 10px;
		position: absolute;
		color: black;
		margin-left: 28%;
		margin-top:-90px;
	}

	.logo1{
		margin-left: 40px;
		
	}
	.logo1 img{
		width: 141px;
		height: 51px;
	}

	.hd ul li a:after{
		content:"";
		position:absolute;
		background: red;
		height: 2px;
	
		left:0px;
		bottom: -16px;
	}
	
	.popup{
		background-color: #FFFFFF;
	
		border: 1px solid #009456;
		border-radius: 12px;
		box-shadow: 0 4px 10px 0 rgba(0.19, 0.19, 0.19, 0.19);
		width: 858px;
		height: 120px;
		margin-left: 155px;
		margin-top:10%;
	
	position: absolute;
	display: none;
	z-index: 1000;
	}
	.navigation-auto a{
	
		padding: 5px;
		border-radius: 10px;
		transition: 1s;
		transform: translate(-650px, -140px);
	
	
	
	  }
	.main-content .easy{
     
		font-size:5.5rem;
		text-transform: uppercase;
	  padding-top: 5px;
	  color: #FFFFFF;
	  font-weight:900;
	  font-family: 'Poppins',sans-serif;
	  -webkit-text-stroke: 1.5px #EE2D43;
	
  
	  }
  .main-content .payment{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:5.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px #009456;
		font-weight: 900;
	
	  }
   .main-content .system{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-size:5.5rem;
		font-family: 'Poppins',sans-serif;
		-webkit-text-stroke: 1.5px #009456;
		font-weight: 900;
		margin-bottom: 0.8rem;
	
	  }
	  .partnertitle {
		
		font-size:72px;
		margin-bottom: -20px;
	}

	#official_logo img{
		width: 740px;
		margin-left: 30%;
	
		
		
	}
	
	.navigation-auto a{
	
		padding: 5px;
		border-radius: 10px;
		transition: 1s;
		transform: translate(-650px, -100px);
	
	
	
	  }
  }


  @media screen and (min-width: 1440px) {
	.main-content{
   
		padding-left: 240px;
	
	  }
	  body{

		background-color: #F9F9F9;
		min-height: 50rem;
		/* padding-top: 4.5rem; */
	}

	/*css for automatic navigation*/

	.navigation-auto{
		position: absolute;
		display: flex;
		width: px;
		justify-content: center;
		margin-top: 500px;
	  }
	
  .navigation-auto a{
	
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
	transform: translate(-650px, -100px);



  }
  .popup{

/* margin-top: 10%; */
	margin-left: 220px;
	background-color: #FFFFFF;
	
		border: 1px solid #009456;
		border-radius: 12px;
		box-shadow: 0 4px 10px 0 rgba(0.19, 0.19, 0.19, 0.19);
		width: 840px;
		height: 120px;
	
		margin-top:10%;
	
	position: absolute;
	display: none;
	z-index: 1000;
}

/**/


  }
